include ../../assets/pug/bemto/lib/index

+b.nav-box
  +e.UL.container
    +e.LI.item
      +e.A.link(href="ui-kit.html") ui-kit

    +e.LI.item
      +e.A.link(href="index.html") index

    +e.LI.item
      +e.A.link(href="search-room.html") search-room

    +e.LI.item
      +e.A.link(href="room-details.html") room-details

    +e.LI.item
      +e.A.link(href="sign-in.html") sign-in

    +e.LI.item
      +e.A.link(href="sign-up.html") sign-up
