@require '../../layout/page/page'


.nav-box
  background #414c5c
  height 100vmax
  
  &__wrapper 
    padding 15vmax 0 0 15vmax
  
  &__container
    width 250px
    height 300px
    border 1px solid black
    padding 40px
    background #fff

  &__link
    color rgb(30, 101, 104)
    font-size 20px
    line-height 28px
    font-weight bold
