include ../../assets/pug/bemto/lib/index

- const config = require('./nav-box.json');

+b.nav-box
  +e.wrapper
    +e.UL.container
      each item in config.links
        +e.LI.item
          +e.A.link(href=`${item}.html`)= item
