//- layout
extends ../../layout/main

//- modules
include ../../modules/item-info/item-info
include ../../modules/bullet-list/bullet-list
include ../../modules/user-comment/user-comment
include ../../modules/payment/payment
include ../../modules/chart/chart

block head
  +head({ 'title': 'Toxin - Room Details' })

block content
  //- config
  - const commentsConfigArr = require("./comments.json");

  +b.MAIN.room-details
    +e.gallery
      +b.FIGURE.room-details-gallery
        +e.column1
          +e.IMG.img1(src='assets/img/room-details1.jpg')

        +e.column2
          +e.IMG.img2(src='assets/img/room-details2.jpg')
          +e.IMG.img3(src='assets/img/room-details3.jpg')

    +e.wrapper.wrapper
      +e.details
        +e.SECTION.info
          +b.room-details-info
            +e.title
              +b.H2.title_size-2 Сведения о номере
            +e.UL.container
              +e.item-info
                +item-info('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
              +e.item-info
                +item-info('location_city', 'Удобство', 'Окно в каждой из спален')
              +e.item-info
                +item-info('whatshot', 'Уют', 'Номер оснащён камином')._border-none

        +e.SECTION.impression
          +b.room-details-impression
            +e.title
              +b.H2.title_size-2 Впечатления от номера

            +e.container
              +e.chart
                +chart({ id: 'js-chart', text: 'голосов', width: '124', height: '124' })

              +e.bullet-list
                +bullet-list('Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован')

        +e.SECTION.comments
          +b.room-details-comments
            +e.header
              +e.title
                +b.H2.title_size-2 Отзывы посетителей номера
              +e.SPAN.number 2 отзыва

            +e.UL.container
              each itemConfig in commentsConfigArr
                +e.user-comment
                  +user-comment(itemConfig)

        +e.SECTION.rules
          +b.room-details-rules
            +e.title
              +b.H2.title_size-2 Правила
            +e.container
              +bullet-list('Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')

        +e.SECTION.cancel
          +b.room-details-cancel
            +e.title
              +b.H2.title_size-2 Отмена

            +e.container
              +e.P.text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

      +e.SECTION.payment
        +payment
