@require "../like-button/like-button"


.user-comment
  display  grid
  grid-template-columns  48px auto
  grid-gap  10px 9px

  &__image
    position relative
    overflow hidden
    width  48px
    height 48px
    border  2px solid default-color
    border-radius  25px

  .image
    position absolute
    top -12px
    left -23px

  &__name
    font-weight  bold
    line-height  24px

  &__date
    margin-top   3px
    font-weight  normal

  &__like-button
    padding  2px 3px

  &__text
    line-height  24px