include ../like-button/like-button

mixin user-comment(config=false)
  - if (!config) config = require('../../modules/user-comment/user-comment.json');
  - const { name, date, isActive, image, likes, text } = config;

  +b.ARTICLE.user-comment
    +e.FIGURE.image-wrapper
      +e.IMG.image(src=image, alt="аватар пользователя")

    +e.header
      +e.name
        +b.H3.title._normal= name
      +e.date-wrapper
        +e.SPAN.date= date

    +e.like-button
      +like-button(likes)(class=isActive ? 'like-button_checked' : '')

    +e.P.text= text
