include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../toggle/toggle


mixin sign-up()

  +b.FORM.sign-up
    +e.wrapper
      +e.container-title
        +b.H1.title Регистрация аккаунта

      +e.container._pb9
        +e.container
          +text-field(
            /*  type  */  "text",
            /*  place */  "Имя"
            )

        +e.container
          +text-field(
            /*  type  */  "text",
            /*  place */  "Фамилия"
            )

        +e.container
          +radio-buttons()

      +e.container
        +e.H3.title-block дата рождения
        +e.container
          +text-field(
            /*  type  */  "text",
            /*  place */  "ДД.ММ.ГГГГ"
            )

      +e.container
        +e.H3.title-block данные для входа в сервис
        +e.container
          +text-field(
            /*  type  */  "email",
            /*  place */  "Email"
            )(autocomplete="username")

        +e.container
          +text-field(
            /*  type  */  "password",
            /*  place */  "Пароль"
            )(autocomplete="new-password")

        +e.container
          +toggle(
            /*  text  */  "Получать спецпредложения"
            )

      +e.button-payment
        +b.BUTTON.button._regular._rel перейти к оплате
          +e.I.icon.material-icons arrow_forward

      +e.container-create
          +e.text Уже есть аккаунт на Toxin
          +e.button-create
            +b.A.button._transparent(href="sign-in.html") войти








