include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle/toggle


mixin sign-up()

  +b.FORM.sign-up
    +e.wrapper
      +e.title
        +b.H1.title Регистрация аккаунта

      +e.container
        +text-field(
          /*  type  */  "text",
          /*  place */  "Имя"
        )

      +e.container
        +text-field(
          /*  type  */  "text",
          /*  place */  "Фамилия"
        )

      +e.radio-buttons
        +radio-button({
          name: 'gender',
          id: 'male',
          text: 'Мужчина',
          checked: true
        })

        +radio-button({
          name: 'gender',
          id: 'female',
          text: 'Женщина',
        })

      +b.H3.title дата рождения
      +e.container
        +text-field(
          /*  type  */  "text",
          /*  place */  "ДД.ММ.ГГГГ"
          )

      +b.H3.title данные для входа в сервис
      +e.container
        +text-field(
          /*  type  */  "email",
          /*  place */  "Email"
          )(autocomplete="username")

      +e.container
        +text-field(
          /*  type  */  "password",
          /*  place */  "Пароль"
          )(autocomplete="new-password")

      +e.container
        +toggle(
          /*  text  */  "Получать спецпредложения"
          )

      +e.button-payment
        +b.BUTTON.button._regular._rel перейти к оплате
          +e.I.icon.material-icons arrow_forward

      +e.container-create
        +e.text Уже есть аккаунт на Toxin
        +e.button-create
          +b.A.button._transparent(href="sign-in.html") войти








