mixin bullet-list()

  +b.bullet-list
    +e.circle
    +e.text Нельзя с питомцами

    +e.circle
    +e.text Без вечеринок и мероприятий

    +e.circle
    +e.text Время прибытия — после 13:00, а выезд до 12:00