.bullet-list
  &__item
    display: grid
    grid-template-columns: 10px auto
    grid-gap: 10px 11px
    align-items: start

  &__circle
    margin-top: 7px
    width: 10px
    height: 10px
    background fade-out(0.25)
    border-radius: 25px

  &__text
    max-width 240px
    line-height: 24px