include ../search-hotel/search-hotel
include ../sign-up-menu/sign-up-menu
include ../payment/payment
include ../sign-in-menu/sign-in-menu
include ../hotel-item/hotel-item

mixin cards
  +b.cards
    +e.column
      +search-hotel
      +sign-up-menu

    +e.column
      +e.payment.js-payment
        +payment

      +sign-in-menu

    +e.column
      +e.calendar-wrapper.js-datepicker-cards
        +e.INPUT.calendar-input.js-datepicker-field

      +hotel-item

      - const hotelListConfig = require('../../modules/cards/config/hotel-item.json');
      +hotel-item(hotelListConfig)
