include ../like-button/like-button


mixin reviews(data)

  +b.reviews
    +e.img-container
      +e.IMG(src= data.img).img

    div
      +e.P.name= data.name
      +e.P.date= data.date

    +e.like-button
      if(data.active === true)
        +like-button(data.like).checked
      else
        +like-button(data.like)

    +e.P.text= data.text
