include ../like-button/like-button


mixin reviews(img, name, date, text, number, checked)

  +b.reviews
    +e.img-container
      +e.IMG(src=img).img

    div
      +e.P.name= name
      +e.P.date= date

    +e.like-button
      +like-button(number, checked)

    +e.P.text= text