extends ../../layout/supporting

include ../../modules/label-icon/label-icon
include ../../modules/colors-type/colors-type
include ../../modules/form-elements/form-elements
include ../../modules/cards/cards
include ../../modules/headers-footers/headers-footers

block head
  +head({ 'title': 'Toxin - UI Kit' })

block content
  +b.ui-kit
    +e.page
      +e.label-icon
        +label-icon

      +e.colors-type
        +colors-type

    +e.page
      +e.label-icon
        +label-icon

      +e.form-elements
        +form-elements

    +e.page._background-gray
      +e.label-icon
        +label-icon

      +e.cards
        +cards

    +e.page._background-gray
      +e.label-icon
        +label-icon

      +e.headers-footers
        +headers-footers
