extends ../../layout/supporting

include ../../modules/label-icon/label-icon
include ../../modules/ui-kit-page1/ui-kit-page1
include ../../modules/ui-kit-page2/ui-kit-page2
include ../../modules/ui-kit-page3/ui-kit-page3
include ../../modules/ui-kit-page4/ui-kit-page4

block head
  +head({ 'title': 'Toxin - UI Kit' })

block content
  +b.ui-kit
    +e.page
      +e.label-icon
        +label-icon

      +e.ui-kit-page1
        +ui-kit-page1

    +e.page
      +e.label-icon
        +label-icon

      +e.ui-kit-page2
        +ui-kit-page2

    +e.page._background-gray
      +e.label-icon
        +label-icon

      +e.ui-kit-page3
        +ui-kit-page3

    +e.page._background-gray
      +e.label-icon
        +label-icon

      +e.ui-kit-page4
        +ui-kit-page4
