// layout
@require '../../layout/supporting.styl'

.module-title
  line-height 15px
  display flex

  &__title
    flex-grow 1

  &__text
    font-size  12px
    color fade-out(0.5)
    text-transform  uppercase

//
// pages
.ui-kit
  &__page
    background default-color
    margin  50px 0 150px
    &_background-gray
      background #F4F4F6

  // label
  &__label-icon
    padding-top  30px
    padding-left 30px

    .label-icon
      width 60px
      height 60px

      &__img
        width 48px
        height 48px

  // page 1
  &__ui-kit-page1
    max-width 1140px
    margin 55px auto 0
    padding-bottom 125px

    .ui-kit-page1
      display flex
      justify-content space-between

      &__container-colors,
      &__container-titles
        display flex
        flex-direction  column
        width 447px

      &__color-demo
        margin-bottom 20px

      //
      .color-demo
        display flex

        &__text-container
          display flex
          flex-direction column
          margin-top  10px

        &__title
          line-height  24px
          font-size    19px
          font-weight  bold
          color fade-out(0)

        &__hex
          margin-top  4px
          font-size   19px

        &__demo
          height 70px
          width 70px
          border-radius  6px
          background  fade-out(0)
          margin-right  40px

          &_fade075
            background  fade-out()

          &_fade05
            background  fade-out(0.5)

          &_fade025
            background  fade-out(0.25)

          &_fade005
            background  fade-out(0.05)

          &_regular
            background  fade-out(0, regular-color)

          &_second
            background  fade-out(0, secondary-color)

      //
      .title-demo
        display flex
        flex-direction column

        &__wrapper-h2
          margin-top 52px

        &__wrapper-h3
          margin-top 50px

        &__wrapper-body
          margin-top 47px

        &__container
          display flex

        &__demo-h1,
        &__demo-h2,
        &__demo-h3,
        &__demo-body
          min-width 41px
          margin-right 29px
          text-align  right
          color fade-out(0.25)

        &__demo-h1
          margin-top 2px
          font-size  24px
          line-height  26px

        &__demo-h2
          font-size  19px
          line-height  23px

        &__demo-h3
          font-size  12px
          line-height  15px

        &__demo-body
          margin-top 3px

        &__text-body
          width 302px
          color fade-out()
          line-height 24px

  // page 2
  &__ui-kit-page2
    max-width 1158px
    margin 53px auto 0
    padding-bottom 131px

    .ui-kit-page2
      display grid
      grid-template-columns 376px 320px 320px
      justify-content space-between

      &__container
        &_width-150
          width 150px
        &_width-240
          width 240px
        &_width-266
          width 266px
        &_width-320
          width 320px

        &_mt-5
          margin-top 5px

        &_pb2
          padding-bottom  2px
        &_pb5
          padding-bottom  5px
        &_pb6
          padding-bottom  6px
        &_pb10
          padding-bottom  10px
        &_pb13
          padding-bottom  13px
        &_pb16
          padding-bottom  16px
        &_pb17
          padding-bottom  17px
        &_pb20
          padding-bottom  20px
        &_pb21
          padding-bottom  21px
        &_pb22
          padding-bottom  22px
        &_pb36
          padding-bottom  36px
        &_pb40
          padding-bottom  40px
        &_pb41
          padding-bottom  41px
        &_pb43
          padding-bottom  43px
        &_pb45
          padding-bottom  45px
        &_pb46
          padding-bottom  46px
        &_pb100
          padding-bottom  100px
        &_pb167
          padding-bottom  167px
        &_pb201
          padding-bottom  201px
        &_pb256
          padding-bottom  256px


      &__date-dropdown,
      &__radio-buttons,
      &__like-buttons,
      &__rate-buttons
        container()

      &__radio-buttons
        width 237px

      &__like-buttons
        width 90px

      &__rate-buttons
        width 260px

      // buttons
      .buttons-ui-kit
        &__container-button
          width: 240px
          display grid
          grid-template-columns: 100px 100px
          grid-template-rows: 44px 44px
          grid-column-gap: 19px
          grid-row-gap: 30px

        &__button
          height 100%
          width 100%

        //
        &__container-text-button
          margin-top 27px
          margin-left 2px
          display: flex

        &__text-button
          margin-right 20px

        //
        &__button-with-icon
          margin-top 25px
          width 320px
          height 44px

      // pagination
      &__pagination
        margin-left 1px

      // rich-checkbox
      &__rich-checkbox-item1
        width 230px

      &__rich-checkbox-item2
        margin-top  8px
        width 260px

      // bullet list
      .bullet-list__item
        margin-bottom 10px

      // user-comment
      &__user-comment
        margin-top 30px
        grid-column 2/4

  // page 3
  &__ui-kit-page3
    margin-top  60px
    padding-bottom 100px

    .ui-kit-page3
      display  grid
      grid-template-columns  380px 380px auto
      grid-gap  0 40px

      &__column
        display  grid
        grid-template-rows  minmax( min-content, min-content ) minmax( min-content, min-content ) minmax( min-content, min-content )
        grid-gap  40px 0

  // page 4
  &__ui-kit-page4
    margin-top  50px
    padding-bottom 10px

    .ui-kit-page4
      height 1200px
      width 100%

      &__container
        padding 0 0 40px

      .auth
        &__button-login
          height 34px
          width 79px

        &__button-sign-up
          height 34px
          width 101px

      &__footer-minimal
        height 367px
        width  768px
        margin 0 auto




