.price-list
  display           flex
  flex-direction    column

  // price-list-item
  &-item
    display         grid
    grid-template-columns  auto 20px 80px
    margin-bottom  15px

    &__sum
      text-align      right

    &__info
      width           20px
      height          20px
      text-align      center
      color           fade-out(0.25)
      border          1px solid fade-out(0.25)
      border-radius   100%


    &_without-info
      .price-list-item
        &__info
          visibility hidden
