mixin price-list(config)
  - if (!config) config = require("../../modules/price-list/price-list.json");
  - const { login, register, user } = config;

  +b.price-list
    +e.UL.items
      each item in config
        - const modInfo = item.info ? "" : "_without-info";

        +b.LI.price-list-item(class=modInfo)
          +e.SPAN.text= item.text
          +e.SPAN.info i
          +e.SPAN.sum= item.sum
