mixin price-list(items)
  +b.price-list
    +e.UL.items
      each item in items
        - const modInfo = item.info ? "" : "_without-info";

        +b.LI.price-list-item(class=modInfo)
          +e.SPAN.text= item.text
          +e.SPAN.info i
          +e.SPAN.sum= item.sum
