mixin price-list(config=false)
  - if (!config) config = require("../../modules/price-list/price-list.json");

  +b.price-list
    +e.UL.items
      each itemConfig in config
        - const { info, text, sum } = itemConfig;
        - const modInfo = info ? "" : "_without-info";

        +b.LI.price-list-item(class=modInfo)
          +e.SPAN.text= text
          +e.SPAN.info i
          +e.SPAN.sum= sum
