mixin checkboxes(title, items)
  +b.SECTION.checkboxes
    +e.title
      +b.H2.title_size-3= title

    +e.UL.container
      each itemConfig in items
        - const { text, name, checked } = itemConfig;

        +e.checkbox-item
          +checkbox-item(text, name)(checked=checked)
