@require "../text-field/text-field"
@require "../toggle/toggle.styl"
@require "../radio-button/radio-button.styl"


.sign-up-menu
  max-width 380px
  width 100%
  background default-color
  border 1px solid rgba(0, 0, 0, 0.12)
  box-shadow 0px 0px 25px 0px rgba(0, 0, 0, 0.2)
  border-radius 4px

  &__wrapper
    padding 39px 29px 29px

  &__title-main
    padding-bottom 20px

  &__text-field
    padding-bottom 10px

  &__radio-buttons-container
    display flex
    padding-top: 1px
    padding-bottom 23px

  &__radio-button
    margin-right: 20px

  &__title
    padding-bottom: 5px

  &__date-birth
    padding-bottom: 20px

  &__toggle
    padding-bottom: 25.5px

  &__button-payment
    height  44px
    margin-bottom: 30px

  &__footer
    container()

  &__text
    padding-left  1px
    padding-bottom 2px
    color #000

  &__button-sign-in
    height 44px
    width 99px

// media //
.sign-up-menu
  @media  (max-width  phoneWidth)
    max-width   none
    width       100%

    &__wrapper
      padding 20px 25px 29px

  @media  (max-width  400px)
    &__title-main
      padding-bottom 10px
      h1.title
        font-size: 20px
