include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle/toggle


mixin sign-up-menu()

  +b.FORM.sign-up-menu
    +e.wrapper
      +e.title-main
        +b.H1.title_size-1 Регистрация аккаунта

      +e.text-field
        +text-field(
          /*  type  */  'text',
          /*  place */  'Имя'
        )

      +e.text-field
        +text-field(
          /*  type  */  'text',
          /*  place */  'Фамилия'
        )

      +e.radio-buttons-container
        +e.radio-button
          +radio-button({
            name: 'gender',
            id: 'male',
            text: 'Мужчина',
            checked: true
          })

        +e.radio-button
          +radio-button({
            name: 'gender',
            id: 'female',
            text: 'Женщина',
          })

      +e.title
        +b.H2.title_size-3 дата рождения

      +e.date-birth
        +text-field(
          /*  type  */  'text',
          /*  place */  'ДД.ММ.ГГГГ'
          )

      +e.title
        +b.H2.title_size-3 данные для входа в сервис

      +e.text-field
        +text-field(
          /*  type  */  'email',
          /*  place */  'Email'
          )(autocomplete='username')

      +e.text-field
        +text-field(
          /*  type  */  'password',
          /*  place */  'Пароль'
          )(autocomplete='new-password')

      +e.toggle
        +toggle(
          /*  text  */  'Получать спецпредложения'
          )

      +e.button-payment
        +b.BUTTON.button._regular._relative перейти к оплате
          +e.I.icon.material-icons arrow_forward

      +e.footer
        +e.text Уже есть аккаунт на Toxin
        +e.button-sign-in
          +b.BUTTON.button._transparent
            +e.A(href='sign-in.html').link войти

