.footerM
  height 367px
  display flex

  flex-direction column
  align-items  center
  justify-content space-between

  background-color default-color
  font-size  14px
  color fade-out()

  &__logo
    margin  102px auto 18px
    & .logo__icon
      left 0


  &__text
    max-width 560px
    text-align  center
    line-height  24px

  .social-link
    margin  27px auto 108px