.footerM
  padding 121px 10px
  background-color default-color
  font-size  14px
  color fade-out()
  box-shadow 0px 10px 20px fade-out(0.05);

  &__container
    height 126px
    container()
    flex-direction column

  &__text
    max-width 560px
    text-align  center
    line-height  24px
