// modules
@require '../range-slider/range-slider'
@require '../dropdown/dropdown'
@require '../checkbox-item/checkbox-item'
@require '../rich-checkbox-item/rich-checkbox-item'
@require '../checkbox-list/checkbox-list'
@require '../datepicker/datepicker'
@require '../menu-for-count/menu-for-count'

.room-filter
  width 266px
  display flex
  flex-direction column

  //
  .datepicker-container
    &__dropdown-wrapper
      margin-top 5px

    .text-field
      text-transform  lowercase

    .dropdown__icon
      padding-top 3px

  //
  &__menu-for-count-guest
    margin-top 20px


  //
  &__range-slider
    margin-top 30px

  //
  &__checkbox-items
    margin-top 29px

    .checkbox-items
      &__container
        width 240px
        margin-top 17px

      &__checkbox-item
        margin-top 10.22px


  //
  &__rich-checkbox-items
    margin-top 31px

  .rich-checkbox-items
    &__container
      margin-top 16px

    &__rich-checkbox-item
      margin-top 8px
      &_w230
        width 230px
      &_w260
        width 260px

  //
  &__menu-for-count-amenities
    margin-top 29px

    .text-field
      padding-right 90px

  //
  &__checkbox-list
    margin-top 24px