//- layout
extends ../../layout/main

//- modules
include ../../modules/sign-in-menu/sign-in-menu
include ../../modules/background-slides/background-slides

block head
  +head({ 'title': 'Toxin - Login' })

block content
  +b.MAIN.sign-in-page
    +e.background-slides
      +background-slides([ 'assets/img/bg-slide4.jpg', 'assets/img/bg-slide3.1.jpg', ])

    +e.sign-in-menu
      +sign-in-menu
