.logo
  display  block
  height  40px
  width  105.69px
  position  relative

  &__icon
    height  40px
    width   40px
    position  absolute

  &__title
    position  absolute
    top  13.5px
    left  53px
