button(type=false, isIcon= false)
  height 100%
  width 100%
  line-height 24px
  cursor pointer
  text-transform uppercase
  font-size 11px
  letter-spacing 0.8px
  font-weight bold
  border-radius 22px
  container(space-around)
  
  if type is 'default'
    letter-spacing 0
    font-size 14px
    color fade-out(0.5)
    font-weight normal
    text-transform none

  if type is 'transparent'
    color regular-color
    border 2px solid regular-color

    &:active,
    &:hover
      border-color fade-out(0.5, regular-color)
      
  if type is 'regular'
    color default-color
    background linear-gradient(primary-gradient)

    &:active,
    &:hover
      background linear-gradient(primary-gradient)
      opacity 0.5

  if isIcon is true
    position relative

    .material-icons
      position absolute
      right -1px
      width 44px
      font-weight normal
      line-height 44px