mixin background-slides()
  +b.background-slides
    +e.IMG(src='assets/img/bg-slide1.jpg' alt="фоновая картинка").img
    +e.IMG(src='assets/img/bg-slide2.jpg' alt="фоновая картинка").img
    +e.IMG(src='assets/img/bg-slide3.jpg' alt="фоновая картинка").img