.pagination
  display flex
  flex-direction: column
  color fade-out(0.5)
  width 240px

  &__list
    container()

  &__text
    margin: 0 auto
    padding-top: 10px
    color fade-out()
    font-size: 14px

.pagination-number
  color fade-out(0.5)
  font-size: 12px
  width: 40px
  height 40px
  cursor: pointer
  container(space-around)

  &__icon
    font-size: 24px

  &_fade
    color fade-out(0.25)

  &_blue
    color default-color
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius: 22px

  &_gradient
    color default-color
    padding: 0 8px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius: 22px

  &_bg
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;