mixin pagination()

  +b.NAV.pagination
    +e.UL.list
      li
        +b.A(href="#").pagination-number._blue 1
      li
        +b.A(href="#").pagination-number 2
      li
        +b.A(href="#").pagination-number 3
      li
        +b.A(href="#").pagination-number ...
      li
        +b.A(href="#").pagination-number 15
      li
        +b.A(href="#").pagination-number._gradient
          +e.I.icon.material-icons arrow_forward

    +e.P.text 1 – 12 из 100+ вариантов аренды