mixin pagination()

  +b.NAV.pagination
    +e.UL.list
      +e.LI.pagination-number
        +b.A(href="mock-address").pagination-number._blue 1
      +e.LI.pagination-number
        +b.A(href="mock-address").pagination-number 2
      +e.LI.pagination-number
        +b.A(href="mock-address").pagination-number 3
      +e.LI.pagination-number
        +b.A(href="mock-address").pagination-number ...
      +e.LI.pagination-number
        +b.A(href="mock-address").pagination-number 15
      +e.LI.pagination-number
        +b.A(href="mock-address").pagination-number._gradient
          +e.I.icon.material-icons arrow_forward

    +e.P.text 1 – 12 из 100+ вариантов аренды