mixin pagination
  +b.NAV.pagination
    +e.UL.list
      +e.LI.number-wrapper
        +e.A.number._current(href="mock-address") 1
      +e.LI.number-wrapper
        +e.A.number(href="mock-address") 2
      +e.LI.number-wrapper
        +e.A.number(href="mock-address") 3
      +e.LI.number-wrapper
        +e.A.number(href="mock-address") ...
      +e.LI.number-wrapper
        +e.A.number(href="mock-address") 15
      +e.LI.number-wrapper
        +e.A.number._switch(href="mock-address")
          +e.I.icon.material-icons arrow_forward

    +e.SPAN.text 1 – 12 из 100+ вариантов аренды
