@require '../../layout/main'

@require '../../modules/hotel-list/hotel-list'
@require '../../modules/pagination/pagination'
@require '../../modules/filter/filter'


.page__content
  display flex
  justify-content space-around
  border-bottom 1px solid fade-out(0.25)

.room-search
  padding-top 29px
  padding-bottom 30px
  display grid
  grid-gap 59px
  grid-template-columns 266px auto
  
  @media (max-width 1025px)
    padding-left 20px
    padding-right 20px

  @media (max-width 625px)
    grid-template-columns 266px
    justify-content space-around

  &__filter
    margin-top 1px

  &__result
    margin 1px auto 0

  &-result
    &__title
      @media (max-width 625px)
        text-align center

    &__hotel-list
      margin-top 22px
      margin-left 1px

    @media (min-width 920px) and (max-width lDesktopWidth)
      .hotel-list
        grid-template-columns 270px 270px

    @media (max-width 919px)
      .hotel-list
        grid-template-columns 270px

    &__pagination
      width 254px
      padding-right 14px
      margin 38px auto 45px
      padding-left 1px

      @media (max-width 919px)
        margin 40px 0 0 15px
