@require '../../layout/page/page'

@require '../../modules/hotel-list/hotel-list'
@require '../../modules/pagination/pagination'
@require '../../modules/filter/filter'

.room-search
  display flex
  justify-content space-around
  border-bottom 1px solid fade-out(0.25)
  
  &__wrapper
    padding-top 29px
    padding-bottom 30px
    display grid
    grid-gap 59px
    grid-template-columns 266px auto
    
    @media (max-width 1025px)
      padding-left 18px
      padding-right 18px

    @media (max-width 625px)
      grid-template-columns 266px
      justify-content space-around

  &__filter
    margin-top 1px

  &__result-wrapper
    margin 1px auto 0

  &__title-wrapper
    @media (max-width 625px)
      text-align center

  &__title
    title-style('large')

  &__hotel-list
    margin-top 22px
    margin-left 1px

  &__pagination
    width 254px
    padding-right 14px
    margin 38px auto 45px
    padding-left 1px

    @media (max-width 919px)
      margin 40px 0 0 15px
