//- layout
extends ../../layout/main

//- modules
include ../../modules/hotel-list/hotel-list
include ../../modules/pagination/pagination
include ../../modules/filter/filter

block head
  +head({ 'title': 'Toxin - Search Room' })

block content
  +b.MAIN.room-search
    +e.wrapper.wrapper
      +e.filter
        +filter

      +e.result
        +b.SECTION.room-search-result
          +e.title
            +b.H1.title_size-1 Номера, которые мы для вас подобрали

          +e.hotel-list
            +hotel-list

          +e.pagination
            +pagination
