extends ../../layout/main

include ../../modules/hotel-list/hotel-list
include ../../modules/pagination/pagination
include ../../modules/filter/filter

block head
  +head({ 'title': 'Toxin - Search Room' })

block content
  +b.MAIN.room-search
    +e.filter
      +filter

    +e.result-wrapper
      +e.SECTION.result-container
        +e.title
          +b.H1.title_size-1 Номера, которые мы для вас подобрали

        +e.hotel-list
          +hotel-list

        +e.pagination
          +pagination
