mixin radio-buttons()
  +b.radio-buttons
    +e.LABEL.input-wrapper
      +e.INPUT.input(type='radio' name='gender' id='male' checked)
      +e.box
      +e.text Мужчина

    +e.LABEL.input-wrapper
      +e.INPUT.input(type='radio' name='gender' id='female')
      +e.box
      +e.text Женщина