.radio-buttons
  display   flex

  &__input-wrapper
    cursor          pointer
    margin-right    20px
    padding-bottom  5px


  &__input
    display   none

    &:checked ~ .radio-buttons__box
      border  1px solid regular-color

      &:after
        background-color regular-color

    &:checked ~ .radio-buttons__text
      color fade-out()


  &__box
    position        relative
    display         block
    float           left
    margin-right    10px
    width           20px
    height          20px
    border-radius   10px
    border          1px solid fade-out(,0.25)
    transition      border 0.2s ease-in-out

    &:after
      content       ''
      width         12px
      height        12px

      position      absolute
      top           3px
      left          3px

      border-radius     10px
      background-color  default-color
      transition        background-color 0.2s ease-in-out


  &__text
    font-style    14px
    line-height   20px
    color         fade-out(,0.5)