.hotel-item-price
  width               100%
  container()
  font-weight         bold
  color               fade-out(0.5)

  .room-number
    &__icon
      margin-right    3px

      font-size       14px
      color           primary-color

    &__number
      font-size       20px
      color           primary-color

    &__room-class
      margin-left     7px
      display         none
      color           regular-color
      font-weight     bold
      font-size       12px
      text-transform  uppercase

      &_visible
        display       inline

  //
  &__price-per-day
    margin-bottom 1px

  .price-per-day
    &__price
      display         inline-block
      margin-top      2px
      font-size       14px
      padding-right   4px

    &__text
      font-weight     normal
      padding-left    1px
      font-size       12px

  &_big
    .room-number
      &__icon
        margin-right  4px

      &__number
        font-size     24px

      &__room-class
        margin-left   8px

    .hotel-item-price__price-per-day
      margin-top    5px

    .price-per-day__price
      padding-right 3px