//- +hotel-item-price({
//-   number: number/string,
//-   lux: boolean,
//-   price: number/string,
//- })

mixin hotel-item-price(data)
  +b.hotel-item-price&attributes(attributes)
    +e.room-number
      +b.room-number
        +e.SPAN.icon №
        +e.SPAN.number= data.number
        if (data.lux)
          +e.STRONG.room-class_visible люкс

    +e.price-per-day
      +b.price-per-day
        +e.STRONG.price= data.price
        +e.SPAN.text в сутки