.hotel-item-price
  width             100%
  container()
  font-weight       bold
  color             fade-out(0.5)

  &__icon
    color           primary-color
    font-size       14px
    padding-right   5px

  &__number
    color           primary-color
    font-size       17px
    padding-right   5px

  &__room-class
    display         none
    color           regular-color
    font-weight     bold
    font-size       12px
    text-transform  uppercase

    &_visible
      display       inline

  &__price
    display         inline-block
    margin-top      2px
    font-size       14px
    padding-right   4px

  &__text-price
    font-weight     normal
    padding-left    1px
    font-size       12px