.ui-kit-page1
  display flex  
  justify-content space-between

  &__container-colors,
  &__container-titles
    display flex
    flex-direction column
    width 447px

  &__color-demo-wrapper
    margin-bottom 20px

  &__color-demo-container
    display flex

  &__text-container
    display flex
    flex-direction column
    margin-top 10px

  &__title
    line-height 24px
    font-size 19px
    font-weight bold
    color fade-out(0)

  &__hex
    margin-top 4px
    font-size 19px

  &__demo
    height 70px
    width 70px
    border-radius 6px
    background fade-out(0)
    margin-right 40px

    &_fade075
      background fade-out()

    &_fade05
      background fade-out(0.5)

    &_fade025
      background fade-out(0.25)

    &_fade005
      background fade-out(0.05)

    &_regular
      background fade-out(0, regular-color)

    &_second
      background fade-out(0, secondary-color)

  &__title-h2-wrapper
    margin-top 52px

  &__title-h3-wrapper
    margin-top 50px

  &__title-body-wrapper
    margin-top 47px

  &__title-container
    display flex

  &__demo-h1,
  &__demo-h2,
  &__demo-h3,
  &__demo-body
    min-width 41px
    margin-right 29px
    text-align right
    color fade-out(0.25)

  &__demo-h1
    margin-top 2px
    font-size 24px
    line-height 26px

  &__demo-h2
    font-size 19px
    line-height 23px

  &__demo-h3
    font-size 12px
    line-height 15px

  &__demo-body
    margin-top 3px

  &__text-body
    width 302px
    color fade-out()
    line-height 24px