mixin like-button(number)
  +b.BUTTON.like-button.js-like-button(type='button')&attributes(attributes)
    +e.I.icon.js-like-button__icon.material-icons favorite_border
    +e.SPAN.number.js-like-button__number= number
