mixin like-button(number)
  +b.FORM.like-button
    +e.BUTTON.button.js-like-button(type='button')&attributes(attributes)
      +e.I.icon.js-like-button__icon.material-icons favorite_border
      +e.SPAN.number.js-like-button__number= number
