@require "../text-field/text-field.styl"

.subscription
  width 100%
  position relative
  &__icon
    width 44px
    height 44px
    container(space-around)

    position: absolute
    top 0px
    right 0px

    z-index: 1
    color regular-color
    cursor pointer
