include ../text-field/text-field

mixin subscription(data)
  +b.FORM.subscription
    +e.BUTTON.button(type='button')
      +e.I.icon.material-icons arrow_forward
    +text-field(data.type, data.place, data.value)&attributes(attributes)
