include ../text-field/text-field

mixin subscription(data)
  +b.subscription
    +text-field(data.type, data.place, data.value)&attributes(attributes)
    if (data.icon)
      +e.I.icon.material-icons arrow_forward