@require '../text-field/text-field.styl'

.subscription
  width 100%
  position relative

  &__button:hover + .text-field,
  &__button:focus + .text-field
    border 1px solid fade-out(0.5)

  &__icon
    width 44px
    height 44px
    container(space-around)

    position absolute
    top 0px
    right 0px

    cursor pointer
    z-index 1

    color regular-color
    background linear-gradient(primary-gradient)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
