mixin subscription({ value, placeholder })
  +b.FORM.subscription
    +e.BUTTON.button
      +e.I.icon.material-icons arrow_forward

    +e.INPUT.text-field(
      value=value,
      placeholder=placeholder,
      name="subscription",
      type="email"
    )&attributes(attributes)
