mixin subscription({type, placeholder, value, name})
  +b.FORM.subscription
    +e.BUTTON.button(type='button')
      +e.I.icon.material-icons arrow_forward
    +b.INPUT.text-field(type=type, placeholder=placeholder, name=name, value=value)&attributes(attributes)._padding-right
