include ../text-field/text-field

mixin subscription({type, placeholder, value})
  +b.FORM.subscription
    +e.BUTTON.button(type='button')
      +e.I.icon.material-icons arrow_forward
    +text-field(type, placeholder, value)&attributes(attributes)
