include ../search-hotel/search-hotel
include ../sign-up-menu/sign-up-menu
include ../payment/payment
include ../sign-in-menu/sign-in-menu
include ../hotel-item/hotel-item

mixin ui-kit-page3
  +b.ui-kit-page3
    +e.column
      +search-hotel
      +sign-up-menu

    +e.column
      +e.payment.js-payment
        +payment

      +sign-in-menu

    +e.column
      +e.calendar-wrapper.js-ui-kit-calendar
        +e.INPUT.calendar-input.js-datepicker-field

      +hotel-item

      - const hotelListConfig = require('../../modules/ui-kit-page3/config/hotel-item.json');

      +hotel-item(hotelListConfig)
