mixin images-slider(srcArr)
  +b.images-slider.js-images-slider
    +e.arrows
      +b.images-slider-arrows
        +e.BUTTON.prev.js-images-slider-arrows__prev(type='button')
          +e.I.icon.material-icons expand_more
        +e.BUTTON.next.js-images-slider-arrows__next(type='button')
          +e.I.icon.material-icons expand_more

    +e.container
      +b.FIGURE.images-slider-container
        each path in srcArr
          - if(path == srcArr[0])
            +e.IMG.image.js-images-slider-container__image.js-image-current(
              src=path,
              alt='фото номера'
            )
          - else
            +e.IMG.image.js-images-slider-container__image(src=path, alt='фото номера')

    +e.circles
      +b.images-slider-circles
        - for(i = 0; i < srcArr.length; i += 1)
          - if(i == 0)
            +e.BUTTON.button.js-images-slider-circles__button.js-circle-current(
              type='button'
            )
          - else
            +e.BUTTON.button.js-images-slider-circles__button(type='button')
