.images-slider
  position relative
  overflow hidden
  height 100%
  width 100%

  &__arrows
    position absolute
    height 100%
    width 100%

  &__arrows-container
    height 100%
    width 100%
    container()

  &__arrows-next,
  &__arrows-prev
    height 100%
    width 44px
    padding-top 4px
    font-size 24px
    font-weight normal
    z-index 0

    &_active
      z-index 1

  &__arrows-next
    background linear-gradient(quinary-gradient)
    transform matrix(-1, 0, 0, 1, 0, 0)

  &__arrows-prev
    background linear-gradient(quinary-gradient)

  &__arrows-icon
    color default-color
    transform rotate(90deg)

  &__images-container
    border-top-left-radius 4px
    border-top-right-radius 4px
    width 270px
    height 151px
    background #777

  &__image
    position absolute
    visibility hidden
    opacity 0
    transition 0.3s

    &_current
      position top
      visibility visible
      opacity 1

  &__circles-container
    position absolute
    bottom 12px
    right 15px
    display flex
    z-index 1

  &__circles-button
    margin-left 4px
    height 7px
    width 7px
    border 1px solid default-color
    box-shadow 0px 5px 5px fade-out( 0.3)
    border-radius 25px

    &_current
      background default-color
