include ../../assets/pug/bemto/bemto

//- modules
include ../../modules/head/head
include ../../modules/header/header
include ../../modules/footer/footer
include ../../modules/footer-minimal/footer-minimal

//- config
- const headerConfig = require("../layout/main/config/header.json");
- const footerConfig = require("../layout/main/config/footer.json");

doctype html
html(lang='ru')
  head
    block head

  body.page
    block header
      +header(headerConfig)

    block content

    block footer
      +footer(footerConfig)
      +footer-minimal(footerConfig.bottomText)
