include ../text-field/text-field


mixin sign-in-menu()

  +b.FORM.sign-in-menu
    +e.wrapper
      +e.title
        +b.H1.title Войти

      +e.text-field
        +text-field(
          /*  type  */  "email",
          /*  place */  "Email"
          )(autocomplete="username")

      +e.text-field
        +text-field(
          /*  type  */  "password",
          /*  place */  "Пароль"
          )(autocomplete="current-password")

      +e.login-button
        +b.BUTTON.button._regular._relative войти
          +e.I.icon.material-icons arrow_forward

      +e.create-account
        +b.create-account
          +e.text Нет аккаунта на Toxin?
          +e.button-create
            +b.A.button._transparent(href="sign-up.html") создать