.sign-in-menu
  width 380px
  background default-color
  border 1px solid rgba(0, 0, 0, 0.12)
  box-shadow 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius 4px

  &__wrapper
    padding 39px 29px 31px

  &__title-wrapper
    margin-bottom 21px

  &__title
    title-style('large')

  &__text-field
    margin-top 10px

  &__login-button-wrapper
    height 44px
    margin-top 20px

  &__login-button
    button-style('regular', true)

  &__create-account-wrapper
    margin-top 30px

  &__create-account-container
    container()
    
  &__text
    padding-bottom 2px
    color #000

  &__button-create-wrapper
    height 44px
    width 99px

  &__button-create
    button-style('transparent')

  @media  (max-width phoneWidth)
    width 100%
