@require '../hotel-item/hotel-item'

.hotel-list
  display               grid
  grid-gap              20.5px 12px
  grid-template-columns 1fr 1fr 1fr
  justify-content       space-between

  &__item
    box-shadow     0px 10px 20px fade-out(0.05)
    border-radius  4px