include ../hotel-item/hotel-item

mixin hotel-list(config=false)
  - if (!config) config = require('../../modules/hotel-list/hotel-list.json');

  +b.UL.hotel-list
    each itemConfig in config
      - const { srcArr, number, price, stars, reviews, isLux } = itemConfig;

      +e.LI.item
        +hotel-item({ srcArr, number, price, stars, reviews, isLux })
