.title
  font-weight bold
  color fade-out(0)
  
  &_size-large
    font-size 24px
    line-height 29px

    @media (max-width 400px)
      font-size 22px

  &_size-medium
    font-size 19px
    line-height 24px

  &_size-small
    text-transform uppercase
    font-size 12px

  &_normal
    color fade-out(0.75)
