@require '../../assets/js/libs/range-slider/range-slider.css'

.range-slider
  font-size           12px
  width               266px

  &__header
    container(,normal)
    font-size         12px
    text-transform    uppercase
    margin-bottom     23px

  &__title
    margin-top        1px

  &__text
    margin-top        13px
    color             fade-out(0.5)

  &__prise-range
    color             fade-out(0.5)
    white-space       pre
    text-align        right

// плагин
.rs-range-slider
  height 6px
  border              1px solid fade-out(0.25)
  border-radius       3px

  &__button
    top               -6px
    width             16px
    height            16px
    background        linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

.rs-range-slider_horizontal .rs-slider-interval
  height      6px

.rs-slider-interval
  background  linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)