mixin range-slider(title, text)

  +b.range-slider
    +e.header
      +e.title
        +b.H3.title= title

      +e.prise-range
        +b.prise-range
          +e.SPAN.value
          +e.SPAN.field1
          +e.SPAN.field2

    +e.container.js-range-slider__container

    if (text)
      +e.text= text