mixin range-slider(title, text=false)
  +b.SECTION.range-slider
    +e.header
      +e.title-wrapper
        +e.H2.title= title

      +e.SPAN.prise-range
        +e.result.js-range-slider__result
        +e.INPUT.field.js-range-slider__field1
        +e.INPUT.field.js-range-slider__field2

    +e.container.js-range-slider__container

    if (text)
      +e.text= text
