.range-slider-container
  font-size           12px
  width               266px

  &__title
    display           flex
    align-items       flex-start
    font-size         12px
    text-transform    uppercase
    margin            1px 0 18px

  &__label
    width             130px
    font-weight       bold
    margin-bottom     5.4px
    color             primary-color

  &__value
    width             136px
    text-align        right
    font-weight       normal
    color             fade-out(0.25)
    letter-spacing    0.07em

  &__text
    margin-top        13.5px
    color             fade-out(0.5)


.range-slider
  position            relative
  height              16px

  display             flex
  align-items         center

  border              1px solid fade-out(0.25)
  border-radius       25px


  .range-between
    position          absolute
    margin            0 10px

    width             100px
    height            16px

    background        linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius     3px

  .widget1,
  .widget2
    position          absolute

    width             20px
    height            20px
    z-index           1

    border            2px solid default-color
    border-radius     100%
    background        linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

    cursor            pointer


  .widget2
    left  100px
