mixin range-slider(label, price, text)

  +b.range-slider
      +e.container
        +e.LABEL.label(for="amount")= label
        +e.INPUT.price(type="text" id="amount" readonly value=price)

      +b#range-slider
        +e.range

      if (text)
        +e.text= text