mixin range-slider(title, text=false)
  +b.SECTION.range-slider
    +e.header
      +e.title
        +b.H2.title_size-3= title

      +e.SPAN.prise-range
        +e.field1.js-range-slider__field1
        +e.field2.js-range-slider__field2

    +e.container.js-range-slider__container

    if (text)
      +e.text= text
