mixin range-slider(label, text)

  +b.range-slider
    +e.header
      +e.LABEL.label= label

      +b.prise-range
        +e.SPAN.value
        +e.SPAN.field1
        +e.SPAN.field2

    +e.container

    if (text)
      +e.text= text