mixin range-slider(title, text)

  +b.range-slider
    +e.header
      +b.H3.title= title

      +b.prise-range
        +e.SPAN.value
        +e.SPAN.field1
        +e.SPAN.field2

    +e.container

    if (text)
      +e.text= text