.calendar
  width 100%
  height  369px
  background  default-color
  border  1px solid fade-out(0.25)
  box-shadow  0px 10px 20px fade-out(0.05)
  border-radius  4px

  &__wrapper
    padding 19px 20px 0 20px

  &__month-selection
    padding-bottom 30px

  &__days
    padding-left 1px
    width 280px
    height 240px

  &__buttons-container
    padding  13px 1px 0 0
    container()
//
//
.month-selection
  container()
  &__month
    font-family  secondFont
    color  primary-color
    font-weight  bold
    font-size  20px
    line-height  24px
    text-align  center
    letter-spacing -0.06em

  &__icon
    color regular-color
//
//
.days
  width 100%
  border-collapse  collapse
  font-size  12px;

  &__weekly-day
    color regular-color
    font-weight bold

  &__container
    display flex
//
//
.day
  width  40px
  height 40px
  cursor  pointer
  container(space-around)
  font-size  12px
  color fade-out(0.5)

  &_blue
    color default-color
    background  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border-radius  22px

  &_gradient
    color default-color
    padding  0 8px
    background  linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border-radius  22px

  &_fade
    color fade-out(0.25)

  &_checked
    position relative

    .bg-checked
      background  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      opacity  0.25

  .bg-checked
    position absolute
    z-index  0
    width 40px
    height 40px

    &_first
      border-top-left-radius  100%
      border-bottom-left-radius  100%

    &_last
      border-top-right-radius  100%
      border-bottom-right-radius  100%




