mixin calendar()
  +b.calendar
    +e.wrapper
      +e.month-selection
        +b.calendar-month-selection
          +e.I.icon.material-icons arrow_back
          +e.month
            +b.P.month Август
            +e.P.years 2019
          +e.I.icon.material-icons arrow_forward

      +e.days
        +b.TABLE.calendar-days
          +e.TR.weekly-day.__container
            +b.TD.calendar-day Пн
            +b.TD.calendar-day Вт
            +b.TD.calendar-day Ср
            +b.TD.calendar-day Чт
            +b.TD.calendar-day Пт
            +b.TD.calendar-day Сб
            +b.TD.calendar-day Вс

          +e.TR.week.__container
            +b.TD.calendar-day._fade 29
            +b.TD.calendar-day._fade 30
            +b.TD.calendar-day._fade 31
            +b.TD.calendar-day  1
            +b.TD.calendar-day  2
            +b.TD.calendar-day  3
            +b.TD.calendar-day  4

          +e.TR.week.__container
            +b.TD.calendar-day  5
            +b.TD.calendar-day  6
            +b.TD.calendar-day  7
            +b.TD.calendar-day._gradient 8
            +b.TD.calendar-day  9
            +b.TD.calendar-day  10
            +b.TD.calendar-day  11

          +e.TR.week.__container
            +b.TD.calendar-day  12
            +b.TD.calendar-day  13
            +b.TD.calendar-day  14
            +b.TD.calendar-day  15
            +b.TD.calendar-day  16
            +b.TD.calendar-day  17
            +b.TD.calendar-day  18

          +e.TR.week.__container
            +b.TD.calendar-day._checked._blue 19
              +b.bg-checked._first
            +b.TD.calendar-day._checked  20
              +b.bg-checked
            +b.TD.calendar-day._checked  21
              +b.bg-checked
            +b.TD.calendar-day._checked  22
              +b.bg-checked
            +b.TD.calendar-day._checked._blue  23
              +b.bg-checked._last
            +b.TD.calendar-day._checked  24
            +b.TD.calendar-day  25

          +e.TR.week.__container
            +b.TD.calendar-day  26
            +b.TD.calendar-day  27
            +b.TD.calendar-day  28
            +b.TD.calendar-day  29
            +b.TD.calendar-day  30
            +b.TD.calendar-day  31
            +b.TD.calendar-day._fade 1

      +e.buttons-container
        +e.button
          +b.button._blue очистить
        +e.button
          +b.button._blue применить
