mixin footer-minimal(text)
  - if (!text) text = "Copyright © 2018 Toxin отель. Все права зачищены.";

  +b.FOOTER.footer-minimal
    +e.container
      +e.logo
        +logo
      +e.SMALL.text= text
      +e.social-link
        +social-link
