.footer-minimal
  padding 120px 15px 121px
  background-color default-color
  box-shadow 0px 10px 20px fade-out(0.05)

  &__container
    width 100%
    container(center)
    flex-direction column

  &__logo
    margin-left 2px

  &__text
    margin-top 17px
    max-width 560px
    text-align center
    line-height 24px
    font-size 14px
    color fade-out()

  &__social-link
    margin-top 19px


  @media  (max-width  tableWidth)
    padding 60px 15px