include ../dropdown/dropdown


mixin date-dropdown(data)

  +b.date-dropdown
    div(class=data.input1.ident)
      +e.H3.title прибытие

      +dropdown({
        "type" : "text",
        "place": data.input1.place,
        "value": data.input1.value
        })

    div
      +e.H3.title выезд

      +dropdown({
        "type" : "text",
        "place": data.input2.place,
        "value": data.input2.value
      })(class=data.input2.ident)