include ../dropdown/dropdown


mixin datepicker(main, second=false)
  - const {title, placeholder, value} = main

  +b.SECTION.datepicker-container
    +e.main-field
      +e.title
        +b.H2.title_size-3= title

      +e.dropdown-wrapper
        +dropdown({
          place: placeholder,
          value: value
        })(readonly='readonly')._placeholder-dark.js-datepicker-main-field

    if(second)
      - const {title, placeholder, value} = second
      +e.second-field
        +e.title
          +b.H2.title_size-3= title

        +e.dropdown-wrapper
          +dropdown({
            type : 'text',
            place: placeholder,
            value: value
          })(readonly='readonly')._placeholder-dark.js-datepicker-second-field

