include ../dropdown/dropdown

mixin datepicker(main, second=false)
  - const { title, placeholder, name, value } = main;

  +b.SECTION.datepicker-container&attributes(attributes)
    +e.main-field
      +e.title
        +b.H2.title_size-3= title

      +e.dropdown-wrapper
        +dropdown({placeholder: placeholder, name: name, value: value})._placeholder-dark.js-datepicker-main-field(
          readonly='readonly'
        )

    if (second)
      - const { title, placeholder, name, value } = second;
      +e.second-field
        +e.title
          +b.H2.title_size-3= title

        +e.dropdown-wrapper
          +dropdown({placeholder: placeholder, name: name, value: value})._placeholder-dark.js-datepicker-second-field(
            readonly='readonly'
          )
