include ../dropdown/dropdown


mixin datepicker()
  +b.datepicker-container
    +e.main-field
      +e.title
        +b.H3.title прибытие

      +e.dropdown-wrapper
        +dropdown({
          "type"  : "text",
          "place" : "ДД.ММ.ГГГГ"
        })(readonly="true").js-datepicker-main-field

    +e.second-field
      +e.title
        +b.H3.title выезд

      +e.dropdown-wrapper
        +dropdown({
          "type"  : "text",
          "place" : "ДД.ММ.ГГГГ"
        })(readonly="true").js-datepicker-second-field