.dropdown
  width 100%
  max-width 100%
  position relative
  z-index 1

  &__icon
    container(space-around)
    width 44px
    height 44px
    padding-top 2px
    position absolute
    top 0px
    right 0px
    z-index -1
    color fade-out( 0.5)

    &_pad-top-3
      padding-top 3px
