@require "../text-field/text-field.styl"

.dropdown
  width           100%
  position        relative

  &__icon
    container(space-around)
    width         44px
    height        44px
    padding-top   2px
    position      absolute
    top           0px
    right         0px
    z-index       0
    color         fade-out( 0.5)
    cursor        pointer

  .text-field
    color         fade-out()
    background    #fff
    container()
