// Arial, Helvetica, sans-serif
// Courier New, Courier, mono
// Times New Roman, Times, serif

// 100 – Thin || Hairline
// 200 – Extra Light || Ultra Light || Thin
// 300 – Light
// 400 – Normal || Regular
// 500 – Medium
// 600 – Semi Bold || Demi Bold
// 700 – Bold
// 800 – Extra Bold || Ultra Bold || Heavy
// 900 – Black || Heavy


@font-face
  font-family: 'Montserrat'
  src:  url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.eot')
  src:  url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff'), url('/assets/fonts/Montserrat/Regular/Montserrat-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat'
  src:  url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.eot')
  src:  url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.woff') format('woff'), url('/assets/fonts/Montserrat/Bold/Montserrat-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'Quicksand'
  src:  url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.eot')
  src:  url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.woff') format('woff'), url('/assets/fonts/Quicksand/Regular/Quicksand-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Quicksand'
  src:  url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.eot')
  src:  url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.woff') format('woff'), url('/assets/fonts/Quicksand/Bold/Quicksand-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Material Icons'
  src:  url('/assets/fonts/MaterialIcons/MaterialIcons.eot')
  src:  url('/assets/fonts/MaterialIcons/MaterialIcons.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/MaterialIcons/MaterialIcons.woff') format('woff'), url('/assets/fonts/MaterialIcons/MaterialIcons.ttf') format('truetype')



.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'






























