// Arial, Helvetica, sans-serif
// Courier New, Courier, mono
// Times New Roman, Times, serif

// 100 – Thin || Hairline
// 200 – Extra Light || Ultra Light || Thin
// 300 – Light
// 400 – Normal || Regular
// 500 – Medium
// 600 – Semi Bold || Demi Bold
// 700 – Bold
// 800 – Extra Bold || Ultra Bold || Heavy
// 900 – Black || Heavy

includeFonts(name, url, fontWeight='normal', fontStyle='normal')
  @font-face 
    font-family: name;
    src: url(url+'.eot');
    src: url(url+'.eot?#iefix') format('embedded-opentype'),
      url(url+'.woff2') format('woff2'),
      url(url+'.woff') format('woff'),
      url(url+'.ttf') format('truetype');
    font-weight: fontWeight
    font-style: fontStyle

includeFonts('Montserrat','/assets/fonts/montserrat/regular/montserrat-regular')
includeFonts('Montserrat','/assets/fonts/montserrat/bold/montserrat-bold', bold)
includeFonts('Material Icons','/assets/fonts/material-icons/material-icons')

.material-icons
  font-family  'Material Icons'
  font-size  24px  /* Preferred icon size */
  display  inline-block
  line-height  1
  text-transform  none
  letter-spacing  normal
  word-wrap  normal
  white-space  nowrap
  direction  ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing  antialiased
  /* Support for Safari and Chrome. */
  text-rendering  optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing  grayscale

  /* Support for IE. */
  font-feature-settings  'liga'
