// Arial, Helvetica, sans-serif
// Courier New, Courier, mono
// Times New Roman, Times, serif

// 100 – Thin || Hairline
// 200 – Extra Light || Ultra Light || Thin
// 300 – Light
// 400 – Normal || Regular
// 500 – Medium
// 600 – Semi Bold || Demi Bold
// 700 – Bold
// 800 – Extra Bold || Ultra Bold || Heavy
// 900 – Black || Heavy


@font-face
  font-family 'Montserrat'
  src url('/assets/fonts/montserrat/regular/montserrat-regular.eot'),
      url('/assets/fonts/montserrat/regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/montserrat/regular/montserrat-regular.woff') format('woff'),
      url('/assets/fonts/montserrat/regular/montserrat-regular.ttf') format('truetype')
  font-weight normal
  font-style  normal

@font-face
  font-family 'Montserrat'
  src url('/assets/fonts/montserrat/bold/montserrat-bold.eot'),
      url('/assets/fonts/montserrat/bold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/montserrat/bold/montserrat-bold.woff') format('woff'),
      url('/assets/fonts/montserrat/bold/montserrat-bold.ttf') format('truetype')
  font-weight bold
  font-style  normal

@font-face
  font-family 'Material Icons'
  src url('/assets/fonts/material-icons/material-icons.eot'),
      url('/assets/fonts/material-icons/material-icons.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/material-icons/material-icons.woff') format('woff'),
      url('/assets/fonts/material-icons/material-icons.ttf') format('truetype')
  font-weight normal
  font-style  normal



.material-icons
  font-family  'Material Icons'
  font-size  24px  /* Preferred icon size */
  display  inline-block
  line-height  1
  text-transform  none
  letter-spacing  normal
  word-wrap  normal
  white-space  nowrap
  direction  ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing  antialiased
  /* Support for Safari and Chrome. */
  text-rendering  optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing  grayscale

  /* Support for IE. */
  font-feature-settings  'liga'
