// Main color
default-color       = #fff
primary-color       = #1F2041
regular-color       = #bc9cff
secondary-color     = #6FCF97


// Font
mainFont            = 'Montserrat', Helvetica, Arial, sans-serif

secondFont          = 'Quicksand', 'Montserrat', Helvetica, Arial, sans-serif
iconFont            = 'Material Icons'


//  Control points
desktopWidth        =  1280px
smDesktopWidth      =  980px
tableWidth          =  768px
phoneWidth          =  480px
smPhoneWidth        =  320px