// Main color
default-color       = #fff
primary-color       = #1F2041
regular-color       = #bc9cff
secondary-color     = #6FCF97

// Gradient
primary-gradient    = 180deg, #BC9CFF 0%, #8BA4F9 100%
secondary-gradient  = 180deg, #6FCF97 0%, #66D2EA 100%
tertiary-gradient   = 180deg, #FFE39C 0%, #FFBA9C 100%
quaternary-gradient = 180deg, #919191 0%, #3D4975 100%
quinary-gradient     = 90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%

// Font
mainFont            = 'Montserrat', Helvetica, Arial, sans-serif
iconFont            = 'Material Icons'

//  Control points
lDesktopWidth       =  1439px
desktopWidth        =  1279px
smDesktopWidth      =  1023px
tableWidth          =  767px
phoneWidth          =  479px
smPhoneWidth        =  319px
