// Main color
default-color       = #fff
primary-color       = #1F2041
regular-color       = #bc9cff
secondary-color     = #6FCF97


// Font
mainFont            = 'Montserrat', Helvetica, Arial, sans-serif
iconFont            = 'Material Icons'


//  Control points
lDesktopWidth       =  1439px
desktopWidth        =  1279px
smDesktopWidth      =  1023px
tableWidth          =  767px
phoneWidth          =  479px
smPhoneWidth        =  319px
