mixin hotel-price({ isH1, number, isLux=false, price })
  - const classMod = isH1 ? '_h1' : '';

  +b.hotel-price(class=classMod)&attributes(attributes)
    +e.room-wrapper
      +e.DIV.room-container
        +e.SPAN.icon №

        if (isH1)
          +e.H1.number= number
        else
          +e.H2.number= number

        if (isLux)
          +e.STRONG.room-class люкс

    +e.SPAN.day-wrapper
      +e.SPAN.day-container
        +e.STRONG.price= price
        +e.SPAN.text в сутки
