.hotel-price
  width 100%
  container()
  font-weight bold
  color fade-out(0.5)

  &__day-container,
  &__room-container
    display flex
    align-items flex-end

  &__icon,
  &__room-class
    margin-bottom 2px

  &__icon
    margin-right 3px
    font-size 14px
    color primary-color

  &__number
    font-size 20px
    font-weight bold
    color primary-color

  &__room-class
    margin-left 7px
    display none
    color regular-color
    font-weight bold
    font-size 12px
    text-transform uppercase
    display inline

  &__day-wrapper
    margin-bottom 1px

  &__day-container
  &__price
    display inline-block
    margin-top 2px
    font-size 14px
    padding-right 4px

  &__text
    margin-left 1px
    margin-bottom 1px
    font-size 12px
    font-weight normal

  &_h1
    .hotel-price
      &__icon
        margin-right 4px

      &__number
        font-size 24px

      &__room-class
        margin-left 8px

      &__day-wrapper
        margin-top 5px

      &__day-container
        padding-right 3px