.hotel-price
  width               100%
  container()
  font-weight         bold
  color               fade-out(0.5)

  &-day,
  &-room
    display flex
    align-items flex-end

  // hotel-price-room
  &-room
    &__icon,
    &__room-class
      margin-bottom   2px

    &__icon
      margin-right    3px
      font-size       14px
      color           primary-color

    &__number
      font-size       20px
      color           primary-color

    &__room-class
      margin-left     7px
      display         none
      color           regular-color
      font-weight     bold
      font-size       12px
      text-transform  uppercase

      &_visible
        display       inline

  // hotel-price-day
  &__day
    margin-bottom 1px

  &-day
    &__price
      display         inline-block
      margin-top      2px
      font-size       14px
      padding-right   4px

    &__text
      font-weight     normal
      padding-left    1px
      font-size       12px

  //
  // modifier
  &_big
    .hotel-price
      &-room
        &__icon
          margin-right  4px

        &__number
          font-size     24px

        &__room-class
          margin-left   8px

      &__day
        margin-top    5px

      &-day__price
        padding-right 3px