mixin hotel-price({ isH1, number, isLux, price })
  - const classMod = isH1 ? "_h1" : "";

  +b.hotel-price(class=classMod)&attributes(attributes)
    +e.room
      +b.DIV.hotel-price-room
        +e.SPAN.icon №

        if (isH1)
          +e.H1.number= number
        else
          +e.H2.number= number

        if (isLux)
          +e.STRONG.room-class_visible люкс

    +e.SPAN.day
      +b.SPAN.hotel-price-day
        +e.STRONG.price= price
        +e.SPAN.text в сутки
