mixin rich-checkbox-item(title, text)
  +b.LABEL.rich-checkbox-item
    +e.INPUT.input(type='checkbox')&attributes(attributes)
    +e.box
    +e.container
      +e.title
        +b.H3.title_fade-075= title
      +e.P.text= text