mixin rich-checkbox-item(title, text)
  +b.LABEL.rich-checkbox-item
    +e.INPUT.input(type='checkbox')&attributes(attributes)
    +e.box
    +e.container
      +e.H4.title= title
      +e.P.text= text