mixin rich-checkbox-item(title, name, text)
  +b.LABEL.rich-checkbox-item
    +e.INPUT.input(type='checkbox', name=name)&attributes(attributes)
    +e.box
    +e.container
      +e.title
        +b.EM.title_normal= title
      +e.text= text
