include ../dropdown/dropdown

//-  local mixin
mixin item-count(title, result)
  +b.item-count
    +e.H3.title= title
    +e.container-btn
      +e.INPUT(type='button' value='-').minus-btn
      +e.result= result
      +e.INPUT(type='button' value='+').plus-btn


mixin dropdown-menu(value, data)
  +b.dropdown-menu&attributes(attributes)
    +dropdown({
      "type" : "button",
      "value": value
    })(readonly="true")

    +b.dropdown-menu-count
      +e.wrapper
        +e.container
          +item-count(data.count1.title, data.count1.result)

        +e.container
          +item-count(data.count2.title, data.count2.result)

        +e.container
          +item-count(data.count3.title, data.count3.result)


        +e.container-btn
          div
            +b.INPUT(type='button' value='очистить').button._fade05.js-clear
          div
            +b.INPUT(type='button' value='применить').button._blue.js-apply