@require "../dropdown/dropdown"

.dropdown-menu
  container(, , flex-start)
  width           100%
  position        relative
  flex-direction  column

  &__container
    width     100%
    font-size 14px
    height    44px


  .dropdown__icon
    color  fade-out()


.dropdown-menu-count
  width       100%
  position    absolute
  top         43px
  z-index     3
  visibility  hidden
  opacity     0
  transition  0.3s

  background default-color

  border  1px solid fade-out(0.5)
  border-bottom-left-radius   4px
  border-bottom-right-radius  4px

  &.current
    visibility  visible
    opacity     1

  &__wrapper
    padding         6px 6px 0 13px

  &__container
    padding-bottom  7px

  &__container-btn
    padding         5px 0
    container()


  .item-count
    container(, , flex-start)
    cursor          pointer
    color           primary-color

    &__title
      padding-top   6px

    &__container-btn
      container()

    &__plus-btn,
    &__minus-btn
      width           31px
      line-height     28px
      font-size       18px
      text-align      center
      color           fade-out(0.5)
      border          1px solid fade-out(0.3)
      border-radius   50px

      &.btn-deactive
        color         fade-out(0.2)
        border        1px solid fade-out(0.1)

    &__result
      width           31px
      line-height     25px
      text-align      center
      font-weight     bold
      font-size       12px
      padding-bottom  4px


// dropdown активен
.count-active
  &.text-field
    border-color    fade-out(0.5)
    border-bottom-left-radius   0px
    border-bottom-right-radius  0px
