extends ../../layout/page/page

include ../../modules/search-hotel/search-hotel
include ../../modules/background-slides/background-slides

block head
  +head({ 'title': 'Toxin' })

block content
  +b.MAIN.index
    +e.wrapper
      +e.background-slides
        +background-slides(['assets/img/bg-slide1.jpg', 'assets/img/bg-slide2.jpg', 'assets/img/bg-slide3.jpg'])._index-page-style

      +e.container
        +e.search-hotel
          +search-hotel

        +e.ASIDE.welcome-text-wrapper
          +e.SPAN.welcome-text-container Лучшие номера для вашей работы, отдыха и просто вдохновения
