// layout
@require '../../layout/main'

// modules
@require '../../modules/search-hotel/search-hotel'
@require '../../modules/background-slides/background-slides'


.landing-page
  max-width 1440px
  max-height 830px
  width 100%
  height 58vw
  margin 0 auto

  &__container
    height 100%
    display flex

  // background-slides
  &__background-slides
    position relative
    z-index -1

    .background-slides
      &__img
        animation-duration 18s

        @media  (max-width  868px)
          width       868px
        
        @media  (max-width  phoneWidth)
          display     none

      :nth-child(3)
        animation-delay  12.0s

      @keyframes anim_slides {
        0% {opacity: 0;}
        4% {opacity: 1;}
        28% {opacity: 1;}
        32% {opacity: 0;}
        100% {opacity: 0;}
      }


  // search-hotel
  &__search-hotel
    padding-top    70px
    padding-left   140px
    

    @media  (max-width  smDesktopWidth)
      padding-left 30px


    @media (min-width  phoneWidth + 1px) and (max-width  tableWidth)
      min-height 480px

    @media  (max-width  phoneWidth)
      width 100%
      padding 0
      margin 0

      .search-hotel
        width 100%
        padding 0 10px

  // welcome text
  &__welcome-text
    width 100%
    height 100%
    container(flex-end,flex-end)
    padding-bottom  21px
    padding-right   134px
    padding-left    20px

    @media  (max-width  smDesktopWidth)
      padding-right 30px
    @media  (max-width  tableWidth)
      display none

    .welcome-text
      max-width     265px
      text-align    right
      line-height   24px
      color         fade-out()


  // media 
  @media  (max-width  smDesktopWidth)
    min-height 500px

  @media (min-width  phoneWidth + 1px) and (max-width  tableWidth)
    min-height 480px

  @media  (max-width  phoneWidth)
    min-height 400px



