mixin rich-checkboxes(title, items)
  +b.SECTION.rich-checkboxes
    +e.title
      +b.H2.title_size-3= title

    +e.container
      each item in items
        - const mod = item.mod ? item.mod : "";

        +e.rich-checkbox-item(class=mod)
          +rich-checkbox-item(item.title, item.text)(checked=item.checked)
