mixin rich-checkboxes(title, items)
  +b.SECTION.rich-checkboxes
    +e.title-wrapper
      +e.H2.title= title

    +e.UL.container
      each itemConfig in items
        - const { isShort, title, name, text, checked } = itemConfig;
        - const classMod = isShort ? '_short' : '';

        +e.rich-checkbox-item(class=classMod)
          +rich-checkbox-item({title, name, text})(checked=checked)
