mixin rich-checkboxes(title, items)
  +b.SECTION.rich-checkboxes
    +e.title
      +b.H2.title_size-3= title

    +e.container
      each itemConfig in items
        - const { mod, title, text, checked } = itemConfig;
        - const classMod = mod ? mod : "";

        +e.rich-checkbox-item(class=classMod)
          +rich-checkbox-item(title, text)(checked=checked)
