mixin chart({ id, text, width, height })
  +b.FIGURE.chart
    +e.container.js-chart__container
      +e.number.js-chart__number
      +e.SPAN.text= text

    +e.CANVAS.image(id=id, width=width, height=height)
