@require "../layout/main"

//- modules
@require "../modules/search-hotel/search-hotel"
@require "../modules/background-slides/background-slides"


.landing-main
  height        830px

  & .background-slides
    max-width   1440px
    margin      0 auto

  &__wrapper
    position    relative

  &__container-offer
    position    absolute
    top         761px
    right       -6px

  & .offer
    height        48px
    width         265px
    text-align    right
    line-height   24px
    color         fade-out()


  &__container-search-hotel
    position    absolute
    top         70px
    left        0













