extends ../layout/main

//- modules
include ../modules/search-hotel/search-hotel
include ../modules/background-slides/background-slides


block head
  +head({
    'title': 'Toxin'
  })

block content
  +b.MAIN.landing-page
    +e.background-slides
      +background-slides([
        'assets/img/bg-slide1.jpg',
        'assets/img/bg-slide2.jpg',
        'assets/img/bg-slide3.jpg',
      ])

    +e.wrapper
      +e.search-hotel
        +search-hotel()

      +e.ASIDE.welcome-text
        +b.P.welcome-text Лучшие номера для вашей работы, отдыха и просто вдохновения
