extends ../layout/main

//- modules
include ../modules/search-hotel/search-hotel
include ../modules/background-slides/background-slides


block head
  +head({
    "title": "Toxin"
  })

block content
  +b.MAIN.landing-main
    +background-slides()
    +e.wrapper.wrapper
      +e.container-offer
        +b.offer Лучшие номера для вашей работы, отдыха и просто вдохновения
      +e.container-search-hotel
        +search-hotel()



















