extends ../layout/main

//- modules
include ../modules/login-card/login-card

block head
  +head({
    "title": "Toxin - Login"
  })

block content
  +b.MAIN.login-main
    +e.background
      +e.IMG(src='assets/img/bg-slade4.jpg').img

    +e.wrapper.wrapper
      +login-card()

















