include ../assets/pug/bemto/bemto

include ../modules/range-slider/range-slider



div.container-nav-box
  ul
    li
      a(href="ui-kit.html")         ui-kit

    li
      a(href="index.html")          index

    li
      a(href="search-room.html")    search-room

    li
      a(href="room-details.html")   room-details

    li
      a(href="login.html")          login

    li
      a(href="sign-up.html")        sign-up


