include ../assets/pug/bemto/bemto


+b.nav-box
  +e.UL.container
    +b.LI.item
      +e.A(href="ui-kit.html").link         ui-kit

    +b.LI.item
      +e.A(href="index.html").link          index

    +b.LI.item
      +e.A(href="search-room.html").link    search-room

    +b.LI.item
      +e.A(href="room-details.html").link   room-details

    +b.LI.item
      +e.A(href="sign-in.html").link        sign-in

    +b.LI.item
      +e.A(href="sign-up.html").link        sign-up


