// assets
@require '../layout/main/main'

body
  background:   #414c5c

.nav-box
  min-width:      200px
  margin:         150px 200px
  border:         1px solid black
  padding:        25px
  background:   #fff

.item__link
  color:      blue
  font-size:    20px
  line-height:  28px
