include ../assets/pug/bemto/bemto

+b.nav-box
  +e.UL.container
    +b.LI.item
      +e.A.link(href='ui-kit.html') ui-kit

    +b.LI.item
      +e.A.link(href='index.html') index

    +b.LI.item
      +e.A.link(href='search-room.html') search-room

    +b.LI.item
      +e.A.link(href='room-details.html') room-details

    +b.LI.item
      +e.A.link(href='sign-in.html') sign-in

    +b.LI.item
      +e.A.link(href='sign-up.html') sign-up
