// assets
@require "../layout/main"


@require "../modules/dropdown-menu/dropdown-menu"


.container-nav-box
  margin 50px 100px
  display flex
  border: 1px solid black
  padding: 25px

  & a
    color: blue
    font-size: 20px
    line-height: 28px


.module-test
  min-height 400px
  margin 50px 100px
  border: 1px solid black
  padding: 25px
  display flex

.input
  width 150px
  margin-right 20px