// assets
@require "../layout/main"

// modules
@require "../modules/range-slider/range-slider"

body
  background: #414c5c

.container-nav-box
  margin:         150px 200px
  border:         1px solid black
  padding:        25px




  background: #fff

  & a
    color:      blue
    font-size:    20px
    line-height:  28px


.module
  margin:         150px 200px
  border:         1px solid black
  padding:        25px



  background: #fff