@require "../layout/main"

//- modules
@require "../modules/item-info/item-info"
@require "../modules/bullet-list/bullet-list"
@require "../modules/user-comment/user-comment"
@require "../modules/payment/payment"


.room-details
  color fade-out()
  background default-color
  border-bottom  1px solid fade-out(0.25)


  //  gallery
  &-gallery
    max-width     1440px
    height        485px
    margin        0 auto
    display       flex

    &__column1
      width       68.125%

    &__column2
      width       31.875%
      display     flex
      flex-wrap   wrap

  //
  &__wrapper
    padding-top   69px
    min-height    938px
    display       grid
    grid-gap      68px
    grid-template-columns auto 380px

  //  deitails
  // &__details
  //   padding-top   1px

  .details
    display                 grid
    grid-gap                10px 81px
    grid-template-columns   280px auto
    grid-template-rows      293px 326px auto

    &__user-comments
      grid-column           1/3


    //info
    .info
      &__container
        margin-top      1px

    //impression
    .impression
      &__container
        margin-top      19px
        margin-left     -3px
        max-width       320px
        display         flex

      // chart
      &__chart
        width         126px
        height        126px
        margin-right  27px

      .chart
        position          relative
        z-index           1
        width             100%
        height            100%

        &__container
          position          absolute
          z-index           -1

          top               0
          width             100%
          height            100%
          container(center)
          flex-direction    column

          color             regular-color
          text-transform    uppercase
          font-weight       bold

        &__number
          font-size         24px

        &__text
          padding           1px 0 3px
          font-size         12px

      // bullet-list
      &__bullet-list
        display             flex
        align-items         flex-end
        margin-bottom       1px

        .bullet-list__item
          grid-template-columns  5px auto

        .bullet-list__item:first-child .bullet-list__circle
          background   linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)
        .bullet-list__item:nth-child(2) .bullet-list__circle
          background linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
        .bullet-list__item:nth-child(3) .bullet-list__circle
          background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        .bullet-list__item:nth-child(4) .bullet-list__circle
          background linear-gradient(180deg, #919191 0%, #3D4975 100%)

  // user-comments
  .user-comments
    &__header
      container()

    &__number
      margin-top            6px
      margin-right          1px
      white-space           nowrap
      color                 fade-out(0.5)

    &__container
      margin-top            21px

    &__user-comment
      margin-bottom         23px

  // rules && text-
  .rules,
  .text-block
    &__container
      margin-top   17px

  .rules
    &__title
      margin-left     20px
    .bullet-list__item
      margin-top      10px

  .text-block
    &__text
      max-width      340px
      line-height    24px

  // payment
  &__payment
    padding-top   1px



  // media //
  // gallery
  &-gallery
    @media  (max-width  lDesktopWidth)
      &__img1
        height        auto
        width         100%

    @media  (min-width  tableWidth + 1px) and (max-width  lDesktopWidth)
      height          0px
      padding         0 0 33.7%

      &__img2,
      &__img3
        height        auto
        width         100%

    @media  (max-width  tableWidth)
      flex-direction  column
      height          0px
      padding         0 0 75%

      &__img2,
      &__img3
        width         50%

      &__column1
        width         100%

      &__column2
        width         100%



  //  deitails
  @media  (max-width  1200px)
    &__wrapper
      grid-template-columns   auto
      grid-gap                20px

  @media (min-width  tableWidth + 1px) and (max-width  1200px)
    .details
      grid-template-columns   auto auto
      grid-gap                20px

  @media  (max-width  tableWidth)
    .details
      grid-template-columns   auto
      grid-template-rows      auto
      grid-gap                40px

      // comments
      &__user-comments
        grid-column           1/2




  //  payment
  @media  (max-width  1200px)
    &__payment
      margin                  20px auto 30px

  @media  (max-width  phoneWidth)
    .payment
      width                 100%
      border                none
      box-shadow            none

      &__wrapper
          padding               20px 20px 0 0





