@require "../layout/main"

//- modules
@require "../modules/item-info/item-info"
@require "../modules/bullet-list/bullet-list"
@require "../modules/reviews/reviews"
@require "../modules/payment/payment"


.room-details
  color fade-out()
  background default-color
  border-bottom  1px solid fade-out(0.25)


  //  gallery
  &-gallery
    max-width     1440px
    height        485px
    margin        0 auto
    display       flex

    &__column1
      width     68.125%

    &__column2
      width       31.875%
      display     flex
      flex-wrap   wrap


  //  deitails
  &__wrapper
    padding-top   69px
    min-height    938px
    display       grid
    grid-gap      68px
    grid-template-columns auto 380px

  &__details
    padding-top   2px

  &__payment
    padding-top   1px


  .details
    display     grid
    grid-gap    10px 81px
    grid-template-columns  280px auto
    grid-template-rows     293px 325px auto

    &__impression-title
      margin-bottom   21px


    // reviews
    &__reviews
      grid-column     1/3

    &__reviews-title
      container()
      margin-bottom   20px

    &__number-reviews
      white-space     nowrap
      padding-top     3px
      color           fade-out(0.5)

    &__container-reviews
      margin-bottom   22px


    // rules
    &__rules-title,
    &__cancel-title
      margin-bottom   18px

    &__rules-title
      margin-left     20px


    // impression
    .impression
      max-width       320px
      display         flex

      &__chart
        width         124px
        height        124px
        margin-right  30px

      &__chart-values
        display       flex
        align-items   flex-end

    .chart
      position          relative
      display           flex
      justify-content   center

      color             regular-color
      text-transform    uppercase
      font-weight       bold

      &__number
        position:       absolute
        top:            -80px
        font-size       22px
        letter-spacing  -0.8px

      &__text
        position:       absolute
        top:            -55px
        font-size       12px


    // chart values
    .chart-values
      display      grid
      grid-gap     2px 5px
      align-items  center
      grid-template-columns 10px 150px

      &__circle
        width         10px
        height        10px
        border-radius 25px

        background   linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)
        &_2
          background linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
        &_3
          background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
        &_4
          background linear-gradient(180deg, #919191 0%, #3D4975 100%)

      &__text
        line-height  22px

  //
  .cancel__text
    max-width      340px
    line-height    24px



// media //


.room-details

  // gallery
  &-gallery
    @media  (min-width  tableWidth + 1px) and (max-width  lDesktopWidth)
      height          0px
      padding         0 0 33.7%
    @media  (max-width  tableWidth)
      flex-direction  column
      height          0px
      padding         0 0 75%


    &__column1
      @media  (max-width  tableWidth)
        width   100%

    &__column2
      @media  (max-width  tableWidth)
        width     100%


    &__img1
      @media  (max-width  lDesktopWidth)
        height       auto
        width        100%

    &__img2,
    &__img3
      @media  (min-width  tableWidth + 1px) and (max-width  lDesktopWidth)
        height       auto
        width        100%
      @media  (max-width  tableWidth)
        width        50%


  //  deitails
  &__wrapper
    @media  (max-width  1200px)
      grid-template-columns auto
      grid-gap  20px


  .details
    @media (min-width  tableWidth + 1px) and (max-width  1200px)
      grid-template-columns  auto auto
      grid-gap  20px
    @media  (max-width  tableWidth)
      grid-template-columns   auto
      grid-template-rows      auto
      grid-gap  40px


    // reviews
    &__reviews
      @media  (max-width  tableWidth)
        grid-column     1/2


    // impression
    .impression__diagram
      @media  (max-width  phoneWidth)
        margin-right  10px


  //  payment
  &__payment
    @media  (max-width  1200px)
      margin 0 auto
      margin-bottom  20px

    & .payment
      @media  (max-width  phoneWidth)
        width       100%
        border      none
        box-shadow  none

        & .date-dropdown
          grid-template-columns  48% 48%
          grid-gap  4%

        &__wrapper
          @media  (max-width  phoneWidth)
            padding         20px 20px 0 0







#js-chart
  z-index: 10

