@require "../layout/main"

// modules
@require "../modules/range-slider/range-slider"
@require "../modules/dropdown/dropdown"
@require "../modules/checkbox-item/checkbox-item"
@require "../modules/rich-checkbox-item/rich-checkbox-item"
@require "../modules/checkbox-list/checkbox-list"
@require "../modules/hotel-item/hotel-item"
@require "../modules/pagination/pagination"
@require "../modules/datepicker/datepicker"
@require "../menuForCount/menuForCount"




.room-search
  min-height      1357px
  border-bottom   1px solid fade-out(0.25)

  &__wrapper
    padding-top       30px
    display           grid
    grid-gap          60px
    grid-template-columns     266px auto


  .room-filter
    width       266px
    display     grid
    grid-gap    20px
    grid-template-rows  64px 74px 82px 140px 155px 73px 273px

    &__title
      padding-bottom  5px

    &__checkbox-item
      width           240px
      padding-top     10.4px

    &__rich-checkbox-item
      padding-top     10.5px
      &_w230
        width   230px
      &_w260
        width   260px

    .dropdown-menu
      width 266px


  .hotel-list
    display       grid
    grid-gap      21px 12px
    margin-top    20px
    justify-content space-between
    grid-template-columns 1fr 1fr 1fr

    &__item
      box-shadow     0px 10px 20px fade-out(0.05)
      border-radius  4px


  &__pagination
    width           100%
    margin          0 auto
    display         flex
    justify-content space-around
    padding         41px 14px 40px 0

  .menuForCount
    .dropdown input
      padding-right: 88px


// media //


.room-search
  &__wrapper
    @media  (max-width  625px)
      grid-template-columns   266px
      justify-content         space-around


  .hotel-list
    @media (min-width  920px) and (max-width  lDesktopWidth)
      grid-template-columns     270px 270px
    @media  (max-width  919px)
      grid-template-columns     270px









