@require "../layout/main"

// modules
@require "../modules/hotel-item/hotel-item"
@require "../modules/pagination/pagination"
@require "../modules/room-filter/room-filter"


.room-search
  min-height      1357px
  border-bottom   1px solid fade-out(0.25)

  &__wrapper
    padding-top             29px
    padding-bottom          30px

    display                 grid
    grid-gap                59px
    grid-template-columns   266px auto

  &__room-filter
    margin-top             1px

  //
  &__search-result
    margin                  0 auto

  .search-result
    //
    &__hotel-list
      margin-top            22px
      margin-left           1px

    .hotel-list
      display               grid
      grid-gap              20.5px 12px
      grid-template-columns 1fr 1fr 1fr
      justify-content       space-between

      &__item
        box-shadow     0px 10px 20px fade-out(0.05)
        border-radius  4px

    //
    &__pagination
      width            254px
      padding-right    14px
      margin           40px auto
      padding-left     1px


// media //
.room-search
  @media  (max-width  625px)
    &__wrapper
      grid-template-columns   266px
      justify-content         space-around

  .search-result
    @media (min-width  920px) and (max-width  lDesktopWidth)
      .hotel-list
        grid-template-columns     270px 270px

    @media  (max-width  919px)
      .hotel-list
        grid-template-columns     270px

      &__pagination
        margin         40px 0 0 15px


