extends ../layout/main

//- modules
include ../modules/hotel-item/hotel-item
include ../modules/pagination/pagination
include ../modules/room-filter/room-filter


block head
  +head({
    'title': 'Toxin - Search Room'
  })

block content
  +b.MAIN.room-search
    +e.wrapper.wrapper
      +e.ASIDE.room-filter
        +room-filter()

      +e.search-result
        +b.SECTION.search-result
          +e.title
            +b.H1.title_size-1 Номера, которые мы для вас подобрали

          +e.hotel-list
            +b.UL.hotel-list
              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item1.jpg',
                    'assets/img/hotel-item2.jpg',
                    'assets/img/hotel-item3.jpg',
                    'assets/img/hotel-item4.jpg',
                  ],
                  'number'  : 888,
                  'price'   : '9 990₽',
                  'stars'   : 5,
                  'reviews' : 145,
                  'lux'     : true
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item2.jpg',
                    'assets/img/hotel-item3.jpg',
                    'assets/img/hotel-item4.jpg',
                    'assets/img/hotel-item5.jpg',
                  ],
                  'number'  : 840,
                  'price'   : '9 900₽',
                  'stars'   : 4,
                  'reviews' : 65
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item3.jpg',
                    'assets/img/hotel-item4.jpg',
                    'assets/img/hotel-item5.jpg',
                    'assets/img/hotel-item6.jpg',
                  ],
                  'number'  : 980,
                  'price'   : '8 500₽',
                  'stars'   : 3,
                  'reviews'  : 35,
                  'lux'     : true
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item4.jpg',
                    'assets/img/hotel-item5.jpg',
                    'assets/img/hotel-item6.jpg',
                    'assets/img/hotel-item7.jpg',
                  ],
                  'number'  : 856,
                  'price'   : '7 300₽',
                  'stars'   : 5,
                  'reviews'  : 19
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item5.jpg',
                    'assets/img/hotel-item6.jpg',
                    'assets/img/hotel-item7.jpg',
                    'assets/img/hotel-item8.jpg',
                  ],
                  'number'  : 740,
                  'price'   : '6 000₽',
                  'stars'   : 4,
                  'reviews'  : 44
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item6.jpg',
                    'assets/img/hotel-item7.jpg',
                    'assets/img/hotel-item8.jpg',
                    'assets/img/hotel-item9.jpg',
                  ],
                  'number'  : 982,
                  'price'   : '5 800₽',
                  'stars'   : 3,
                  'reviews'  : 56
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item7.jpg',
                    'assets/img/hotel-item8.jpg',
                    'assets/img/hotel-item9.jpg',
                    'assets/img/hotel-item10.jpg',
                  ],
                  'number'  : 678,
                  'price'   : '5 500₽',
                  'stars'   : 5,
                  'reviews'  : 45
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item8.jpg',
                    'assets/img/hotel-item9.jpg',
                    'assets/img/hotel-item10.jpg',
                    'assets/img/hotel-item11.jpg',
                  ],
                  'number'  : 450,
                  'price'   : '5 300₽',
                  'stars'   : 4,
                  'reviews'  : 39
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item9.jpg',
                    'assets/img/hotel-item10.jpg',
                    'assets/img/hotel-item11.jpg',
                    'assets/img/hotel-item12.jpg',
                  ],
                  'number'  : 350,
                  'price'   : '5 000₽',
                  'stars'   : 3,
                  'reviews'  : 77
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item10.jpg',
                    'assets/img/hotel-item11.jpg',
                    'assets/img/hotel-item12.jpg',
                    'assets/img/hotel-item1.jpg',
                  ],
                  'number'  : 666,
                  'price'   : '5 000₽',
                  'stars'   : 5,
                  'reviews'  : 25
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item11.jpg',
                    'assets/img/hotel-item12.jpg',
                    'assets/img/hotel-item1.jpg',
                    'assets/img/hotel-item2.jpg',
                  ],
                  'number'  : 444,
                  'price'   : '5 000₽',
                  'stars'   : 3,
                  'reviews'  : 15
                })

              +e.LI.item
                +hotel-item({
                  'srcArr'  : [
                    'assets/img/hotel-item12.jpg',
                    'assets/img/hotel-item1.jpg',
                    'assets/img/hotel-item2.jpg',
                    'assets/img/hotel-item3.jpg',
                  ],
                  'number'  : 352,
                  'price'   : '5 000₽',
                  'stars'   : 3,
                  'reviews'  : 55
                })

          +e.pagination
            +pagination()

