@require '../layout/main/main'

@require '../modules/sign-up-menu/sign-up-menu.styl'
@require '../modules/background-slides/background-slides'

.sign-up-page
  position          relative
  max-width         1440px
  margin            0 auto
  overflow          hidden

  &__background-slides
    position        absolute
    top             -70px

    width           1440px
    height          100%
    z-index         -1

  &__sign-up-menu
    margin          19px 0 19px 6px
    container(space-around)

// media //
.sign-up-page
  @media  (max-width  phoneWidth)
    &__background-slides
      display       none

    &__sign-up-menu
      margin        0

