@require "../layout/main"

@require "../modules/sign-up-menu/sign-up-menu.styl"
@require "../modules/background-slides/background-slides"

.sign-up-page
  position          relative
  max-width         1440px
  margin            0 auto
  overflow          hidden

  &__background-slides
    position        absolute
    top             -70px

    width           1440px
    height          100%
    z-index         -1

  &__sign-up-menu
    padding 19px 0 18px 6px
    // padding-top     19px
    // padding-bottom  18px
    // padding-left    6px
    container(space-around)



// media //
.sign-up-page
  &__background-slides
    @media  (max-width  phoneWidth)
      display       none

  &__sign-up-menu
    @media  (max-width  phoneWidth)
      align-items    flex-start
      padding    0
      // padding-top    0
      // padding-bottom 0
      // padding-left   0


