extends ../layout/main

//- modules
include ../modules/login-card/login-card

block head
  +head({
    "title": "Toxin - Login"
  })

block content
  +b.MAIN.sign-in
    +e.IMG(src='assets/img/bg-slide4.jpg').background-image

    +e.login-card
      +login-card()

















