@require '../layout/main/main'

//- modules
@require '../modules/sign-in-menu/sign-in-menu'
@require '../modules/background-slides/background-slides'

.sign-in-page
  height            702px
  position          relative
  max-width         1440px
  margin            0 auto
  overflow          hidden

  &__background-slides
    position        absolute
    top             -70px

    width           1440px
    height          100%
    z-index         -1

  &__sign-in-menu
    height          100%
    container(space-around)


// media //
.sign-in-page
  @media (min-width phoneWidth + 1px) and (max-width lDesktopWidth)
    height          600px
    &__background-slides
      top          -200px

  @media  (max-width phoneWidth)
    height          auto

    &__background-slides
      display       none

