extends ../layout/main

//- modules
include ../modules/sign-up/sign-up

block head
  +head({
    "title": "Toxin - Sing Up"
  })

block content
  +b.MAIN.sign-up-main
    +e.IMG(src='assets/img/bg-slade4.jpg').bg-img

    +e.wrapper.wrapper
      +sign-up()














