extends ../layout/supporting.pug

//- local mixins
mixin label-icon()
  +b.label-icon
    +e.A(href="nav.html").link
      +e.IMG.img(src='assets/img/ui-kit-icon.svg' alt="иконка сайта")


mixin color-demo(title, hex, mod)
  +b.color-demo
    +e.demo(class=mod)
    +e.text-container
      +e.title= title
      +e.P.hex= hex


mixin module-title(title, comment)
  +b.module-title
    +e.title
      +b.H2.title_size-3= title
    if (comment)
      +e.comment
        +e.P.text= comment



block head
  +head({
    "title": "Toxin - UI Kit"
  })


block content
  +b.ui-kit
    +e.page
      +e.label-icon
        +label-icon()

      +e.ui-kit-page1
        +b.ui-kit-page1
          +e.container-colors
            +e.color-demo
              +color-demo("Dark Shade 100%", "#1F2041")
            +e.color-demo
              +color-demo("Dark Shade 75%", "#1F2041", "_fade075")
            +e.color-demo
              +color-demo("Dark Shade 50%", "#1F2041", "_fade05")
            +e.color-demo
              +color-demo("Dark Shade 25%", "#1F2041", "_fade025")
            +e.color-demo
              +color-demo("Dark Shade 5%", "#1F2041", "_fade005")
            +e.color-demo
              +color-demo("Purple", "#BC9CFF", "_regular")
            +e.color-demo
              +color-demo("Green", "#6FCF97", "_second")

          +e.container-titles
            +b.title-demo
              +e.wrapper-h1
                +e.container
                  +e.P.demo-h1 H1
                  +b.H1.title_size-1 This one is the sub-section or widget title

              +e.wrapper-h2
                +e.container
                  +e.P.demo-h2 H2
                  +b.H2.title_size-2 Next one is the item title inside widgets

              +e.wrapper-h3
                +e.container
                  +e.P.demo-h3 H3
                  +b.H3.title_size-3 This is a label or CTA text

              +e.wrapper-body
                +e.container
                  +e.P.demo-body Body
                  +e.P.text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.

    +e.page
      +e.label-icon
        +label-icon()

      +e.ui-kit-page2
        +b.ui-kit-page2
          // rows 1
          +e.container_width-320._pb100
            +e.container_pb21
              +e.container_pb5
                +module-title("Text Field", "Default")

              +e.text-field
                +text-field("text", "Email")

            +e.container_pb20
              +e.container_pb5
                +module-title("Text Field", "Hover / Focus")

              +text-field("text", "Email", "This is pretty awesome")._checked

            +e.container_pb22
              +e.container_pb5
                +module-title("Dropdown")

              +dropdown({
                "type" : "button",
                "value": "Сколько гостей"
              })

            +e.container_pb40
              +e.container_pb5
                +module-title("masked text field")

              +text-field("text", "ДД.ММ.ГГГГ")

            +e.container_pb40
              +e.date-dropdown
                +e.container_width-150
                  +e.container_pb6
                    +module-title("date Dropdown")

                  +dropdown({
                    "type" : "text",
                    "place": "ДД.ММ.ГГГГ"
                  })._placeholder-dark
                +e.container_width-150
                  +e.container_pb6
                    +module-title("date Dropdown")

                  +dropdown({
                    "type" : "text",
                    "place": "ДД.ММ.ГГГГ",
                    "value": "19.08.2019"
                  })._placeholder-dark

            +e.container_width-266
              +e.container_pb41
                +e.container_pb5
                  +module-title("filter date dropdown")

                +dropdown({
                  "type" : "text",
                  "value": "19 авг - 23 авг."
                })

              +e.container
                +e.container_pb5
                  +module-title("subscription text field")

                +subscription({
                  "type" : "email",
                  "place": "Email",
                })

          +e.container_width-266

            //-  Checkbox Buttons
            +e.container_pb17
              +module-title("Checkbox Buttons")
            +e.container_pb41._width-240
              +e.container_pb10
                +checkbox-item("Можно курить")
              +e.container_pb10
                +checkbox-item("Можно с питомцами")(checked)
              +e.container
                +checkbox-item("Можно пригласить гостей (до 10 человек)")(checked)

            //-  Radio Buttons
            +e.container_pb16
              +module-title("Radio Buttons")
            +e.container_pb41
              +e.radio-buttons
                +radio-button({
                  name: 'gender',
                  id: 'male',
                  text: 'Мужчина',
                  checked: true
                })()

                +radio-button({
                  name: 'gender',
                  id: 'female',
                  text: 'Женщина',
                  checked: false
                })()

            //-  Toggle
            +e.container_pb16
              +module-title("Toggle")
            +e.container_pb16
              +toggle("Получать спецпредложения")(checked)
            +e.container_pb46
              +toggle("Получать спецпредложения")

            //-  Like button
            +e.container_pb16
              +module-title("Like button")
            +e.container_pb40
              +e.like-buttons
                +like-button(2)
                +like-button(12).like-button_checked

            //-  Rate button
            +e.container_pb16
              +module-title("rate button")
            +e.container
              +e.rate-buttons
                +rate-button("4")
                +rate-button("5")

          +e.container
            //-  Range Slider
            +e.container_pb43
              +e.range-slider
                +range-slider("Range Slider")

            //-  Buttons
            +e.container_pb16
              +module-title("Buttons")
            +e.container_pb40
              +b.buttons-ui-kit
                +e.container-button
                  +e.button
                    +b.BUTTON.button._regular CLICK ME
                  +e.button
                    +b.BUTTON.button._regular.active CLICK ME
                  +e.button
                    +b.BUTTON.button._transparent CLICK ME
                  +e.button
                    +b.BUTTON.button._transparent.active CLICK ME

                +e.container-text-button
                  +e.text-button
                    +b.BUTTON.button._blue CLICK ME
                  +e.text-button
                    +b.BUTTON.button._fade05 CLICK ME

                +e.button-with-icon
                  +b.BUTTON.button._regular._relative перейти к оплате
                    +e.I.icon.material-icons arrow_forward

            //-  Pagination
            +e.pagination
              +e.container_pb17
                +module-title("pagination")
              +e.container_width-240
                +pagination()

          // rows 2
          +e.container_width-266
            +e.container_pb20
              +e.container_pb5
                +module-title("dropdown", "default")

              +b.dropdown-menu
                +dropdown({
                  "type" : "text",
                  "place": "2 спальни, 2 кровати..."
                })._placeholder-dark

            +e.container_pb167
              +e.container_pb5
                +module-title("dropdown", "expanded")

              +e.menu-for-count
                +menu-for-count({
                  class: 'js-menuForCount'
                })

          +e.container
            //-  Dropdown, guest count
            +e.container_pb5
              +module-title("dropdown")

            +e.container
              +menu-for-count({
                class: 'js-menuForCount'
              })

          +e.container
            //-  Dropdown, guest count
            +e.container_pb5
              +module-title("dropdown")
            +e.container
              +menu-for-count({
                class: 'js-menuForCount'
              })

          // rows 3
          +e.container_width-266
            +e.container_pb36
              +e.checkbox-list
                +checkbox-list("expandable checkbox list")

            +e.container
              +e.checkbox-list
                +checkbox-list(
                  /* title */
                  'expandable checkbox list'

                  /* items */
                  ,{
                  name    : 'Завтрак',
                  active  : false
                  },{
                  name    : 'Письменный стол',
                  active  : true
                  },{
                  name    : 'Стул для кормления',
                  active  : true
                  },{
                  name    : 'Кроватка',
                  active  : true
                  },{
                  name    : 'Телевизор',
                  active  : false
                  },{
                  name    : 'Шампунь',
                  active  : false
                  }
                )

          +e.container_pb201._mt-5
            //-  Rich Checkbox Buttons
            +e.container_pb16
              +module-title("Rich Checkbox Buttons")
            +e.container
              +e.rich-checkbox-item1
                +rich-checkbox-item("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
              +e.rich-checkbox-item2
                +rich-checkbox-item("Помощник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера.")

          +e.container_mt-5
            //-  Bullet list
            +e.container_pb13
              +module-title("Bullet list")

            +e.container
              +bullet-list(
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00"
              )

          // rows 4
          +e.container
            +e.item-info
              +item-info("insert_emoticon", "Комфорт", "Шумопоглощающие стены")

            +e.item-info
              +item-info("location_city", "Удобство", "Окно в каждой из спален")

          +e.user-comment
            +user-comment({
              image: 'assets/img/user-img1.jpg',
              name: 'Мурад Сарафанов',
              date: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              likes: 12,
              active: true
            })

    +e.page._bg-gray
      +e.label-icon
        +label-icon()

      +e.ui-kit-page3
        +b.ui-kit-page3.wrapper
          +e.column
            +search-hotel()
            +sign-up-menu()
          +e.column
            +payment()
            +sign-in-menu()
          +e.column
            +calendar()

            +hotel-item({
              "srcArr"  : [
                "assets/img/hotel-item1.jpg",
                "assets/img/hotel-item2.jpg",
                "assets/img/hotel-item3.jpg",
                "assets/img/hotel-item4.jpg",
              ],
              "number"  : 888,
              "price"   : "9 990₽",
              "stars"   : 5,
              "reviews" : 145,
              "lux"     : true,
            })

            +hotel-item({
              "srcArr"  : [
                "assets/img/hotel-item2.jpg",
                "assets/img/hotel-item3.jpg",
                "assets/img/hotel-item4.jpg",
                "assets/img/hotel-item5.jpg",
              ],
              "number"  : 840,
              "price"   : "9 900₽",
              "stars"   : 4,
              "reviews" : 65
            })

    +e.page._bg-gray
      +e.label-icon
        +label-icon()

      +e.ui-kit-page4
        +b.ui-kit-page4
          +e.container

            +header({
              login: "войти",
              register: "зарегистрироваться",
              link : [{
                  "href"  : "mock-address",
                  "text"  : "О нас",
                  "mod"   : "_bold"
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Услуги",
                  "icon"  : true,
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Вакансии"
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Новости",
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Соглашения",
                  "icon"  : true
                }
              ]}
            )

          +e.container
            +header({
              login: "войти",
              register: "зарегистрироваться",
              user: "Юлий Цезарь",
              link : [{
                  "href"  : "mock-address",
                  "text"  : "О нас",
                  "mod"   : "_bold"
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Услуги",
                  "icon"  : true,
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Вакансии"
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Новости",
                },
                  {
                  "href"  : "mock-address",
                  "text"  : "Соглашения",
                  "icon"  : true
                }
              ]}
            )

          +e.container
            +footer({
              text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
              subTitle: "Подписка",
              subText: "Получайте специальные предложения и новости сервиса",
              subPlace: "Email",
              bottomText: "Copyright © 2018 Toxin отель. Все права зачищены.",
              menus: [
                [
                  {
                    "title": "Навигация"
                  },{
                    "text" : "О нас",
                    "href" : "mock-address"
                  },{
                    "text" : "Новости",
                    "href" : "mock-address"
                  },{
                    "text" : "Служба поддержки",
                    "href" : "mock-address"
                  },{
                    "text" : "Услуги",
                    "href" : "mock-address"
                  }
                ], [
                  {
                    "title": "О нас"
                  },{
                    "text" : "О сервисе",
                    "href" : "mock-address"
                  },{
                    "text" : "Наша команда",
                    "href" : "mock-address"
                  },{
                    "text" : "Вакансии",
                    "href" : "mock-address"
                  },{
                    "text" : "Инвесторы",
                    "href" : "mock-address"
                  }
                ], [
                  {
                    "title": "Служба поддержки"
                  },{
                    "text" : "Соглашения",
                    "href" : "mock-address"
                  },{
                    "text" : "Сообщества",
                    "href" : "mock-address"
                  },{
                    "text" : "Связь с нами",
                    "href" : "mock-address"
                  }
                ]
              ]
            })

          +e.footerM
            +footerM("Copyright © 2018 Toxin отель. Все права зачищены.")


