extends ../layout/supporting.pug

//- modules


//- local mixins
mixin label-icon()
  +b.label-icon
    +e.A(href="nav.html").link
      +e.IMG.img(src='assets/img/ui-kit-icon.svg' alt="иконка сайта")


mixin color-demo(title, hex, mod)
  +b.color-demo
    +e.demo(class=mod)
    +e.text
      +e.title= title
      +e.hex= hex


block head
  +head({
    "title": "Toxin - UI Kit"
  })


block content
  +b.ui-kit
    +e.page
      +label-icon()

      +b.ui-kit-page1.wrapper
        +e.container-colors
          +color-demo("Dark Shade 100%", "#1F2041")
          +color-demo("Dark Shade 75%", "#1F2041", "_fade075")
          +color-demo("Dark Shade 50%", "#1F2041", "_fade05")
          +color-demo("Dark Shade 25%", "#1F2041", "_fade025")
          +color-demo("Dark Shade 5%", "#1F2041", "_fade005")
          +color-demo("Purple", "#BC9CFF", "_regular")
          +color-demo("Green", "#6FCF97", "_second")

        +e.container-titles

          +b.title-demo
            +e.container
              +e.demo-h1 H1
            H1.title This one is the sub-section or widget title

            +e.container
              +e.demo-h2 H2
            H2.title Next one is the item title inside widgets

            +e.container
              +e.demo-h3 H3
            H3.title This is a label or CTA text

            +e.container
              +e.demo-body body
            +e.body This is the body text which is used for most of the design, like paragraphs, lists, etc.

    +e.page
      +label-icon()

      +b.ui-kit-page2.wrapper
        mixin module-title(title, comment)
          +b.module-title
            +e.H3.title= title
            if (comment)
              +e.comment= comment
        div
          +e.column1
            +e.container-pb21
              +e.container-pb5
                +module-title("Text Field", "Default")

              +text-field("text", "Email")

            +e.container-pb20
              +e.container-pb5
                +module-title("Text Field", "Hover / Focus")

              +text-field("text", "Email", "This is pretty awesome")._checked

            +e.container-pb22
              +e.container-pb5
                +module-title("Dropdown", "Default")

              +dropdown({
                "type" : "text",
                "place": "Сколько гостей"
              })

            +e.container-pb41
              +e.container-pb5
                +module-title("masked text field", "Default")

              +text-field("text", "ДД.ММ.ГГГГ")

            +e.container-pb40
              +e.container-date-dropdown
                div
                  +e.container-pb5
                    +module-title("date Dropdown")

                  +dropdown({
                    "type" : "text",
                    "place": "ДД.ММ.ГГГГ"
                  })

                div
                  +e.container-pb5
                    +module-title("date Dropdown")

                  +dropdown({
                    "type" : "text",
                    "value": "19.08.2019"
                  })

            +e.column1_2
              +e.container-pb41
                +e.container-pb5
                  +module-title("filter date dropdown")
                +dropdown({
                  "type" : "text",
                  "value": "19 авг - 23 авг."
                })

              +e.container-pb100
                +e.container-pb5
                  +module-title("subscription text field")

                +subscription({
                  "type" : "email",
                  "place": "Email",
                  "icon" : "!"
                })

          +e.column1_2

            +e.container-pb20
              +e.container-pb5
                +module-title("dropdown", "default")

              +b.dropdown-menu
                +dropdown({
                  "type" : "text",
                  "place": "2 спальни, 2 кровати..."
                })

            +e.container-pb170
              +e.container-pb5
                +module-title("dropdown", "expanded")

              +b.menu-for-count.js-menuForCount
                +dropdown({
                  "type" : "text",
                })(readonly="true")

            +e.container-pb48
              +b.checkbox-list1
                +e.BUTTON.btn
                  +e.H3.title expandable checkbox list
                  +e.I.icon-down.material-icons keyboard_arrow_down

            +e.container-pb10
              +checkbox-list("expandable checkbox list")

            +e.container-pb21

              +item-info("insert_emoticon", "Комфорт", "Шумопоглощающие стены")

              +item-info("location_city", "Удобство", "Окно в каждой из спален")

        +e.column2-3

          +e.column2

            //-  Checkbox Buttons
            +e.container-pb17
              +module-title("Checkbox Buttons")
            +e.container-pb31
              +e.checkbox-item
                +checkbox-item("Можно курить")
              +e.checkbox-item
                +checkbox-item("Можно с питомцами")(checked)
              +e.checkbox-item
                +checkbox-item("Можно пригласить гостей (до 10 человек)")(checked)

            //-  Radio Buttons
            +e.container-pb17
              +module-title("Radio Buttons")
            +e.container-pb35
              //- +radio-button({
              //-   name: 'gender',
              //-   id: 'male',
              //-   text: 'Мужчина',
              //-   checked: true
              //- })()

            //-  Toggle
            +e.container-pb17
              +module-title("Toggle")
            +e.container-pb16
              +toggle("Получать спецпредложения")(checked)
            +e.container-pb45
              +toggle("Получать спецпредложения")

            //-  Like button
            +e.container-pb16
              +module-title("Like button")
            +e.container-pb40
              +e.container-like-buttons
                +like-button(2)
                +like-button(12, 'checked')

            //-  Rate button
            +e.container-pb16
              +module-title("rate button")
            +e.container-pb17
              +e.container-rate-button
                +rate-button("4")
                +rate-button("5")


          +e.column3

            //-  Range Slider
            +e.container-pb44
              +e.container-range-slider
                +range-slider("Range Slider", "5 000₽ - 10 000₽")

            //-  Buttons
            +e.container-pb15
              +module-title("Buttons")
            +e.container-pb40
              +b.button-ui-kit
                  +e.container
                    +e.wrapper
                      +b.A(href="mock-address").button._transparent CLICK ME
                    +e.wrapper
                      +b.A(href="mock-address").button._transparent.active CLICK ME
                    +e.wrapper
                      +b.A(href="mock-address").button._regular CLICK ME
                    +e.wrapper
                      +b.A(href="mock-address").button._regular.active CLICK ME
                  +e.wrapper-two-item
                    +b.A(href="mock-address").button._fade05 CLICK ME
                    +b.A(href="mock-address").button._blue CLICK ME
                  +e.wrapper-to-pay
                    +b.BUTTON.button._regular._relative перейти к оплате
                      +e.I.icon.material-icons arrow_forward

            //-  Pagination
            +e.container-pb17
              +module-title("pagination")
            +e.container-pb17
              +pagination()


          +e.column4

            //-  Dropdown, guest count
            +e.container-pb256
              +module-title("dropdown")
              +e.block-wrapper
                +b.menu-for-count.js-menuForCount
                  +dropdown({
                    "type" : "text",
                  })(readonly="true")

            //-  Rich Checkbox Buttons
            +e.container-pb17
              +module-title("Rich Checkbox Buttons")
            +e.container-pb31
              +e.rich-checkbox-item1
                +rich-checkbox-item("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
              +e.rich-checkbox-item2
                +rich-checkbox-item("Помощник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера.")


          +e.column5

            //-  Dropdown, guest count
            +e.container-pb256
              +module-title("dropdown")
              +e.block-wrapper
                +b.menu-for-count.js-menuForCount
                  +dropdown({
                    "type" : "text",
                  })(readonly="true")

            //-  Bullet list
            +e.container-pb13
              +module-title("Bullet list")

            +bullet-list()


          +e.user-comment
            +user-comment(
              'assets/img/user-img1.jpg',
              'Мурад Сарафанов',
              '5 дней назад',
              'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              12,
              'checked'
              )

    +e.page_bg-gray
      +label-icon()

      +b.ui-kit-page3.wrapper
        +e.column
          +search-hotel()
          +sign-up-menu()
        +e.column
          +payment()
          +sign-in-menu()
        +e.column
          +calendar()

          +hotel-item({
            "srcArr"  : [
              "assets/img/hotel-item1.jpg",
              "assets/img/hotel-item2.jpg",
              "assets/img/hotel-item3.jpg",
              "assets/img/hotel-item4.jpg",
            ],
            "number"  : 888,
            "price"   : "9 990₽",
            "stars"   : 5,
            "reviews" : 145,
            "lux"     : true,
          })

          +hotel-item({
            "srcArr"  : [
              "assets/img/hotel-item2.jpg",
              "assets/img/hotel-item3.jpg",
              "assets/img/hotel-item4.jpg",
              "assets/img/hotel-item5.jpg",
            ],
            "number"  : 840,
            "price"   : "9 900₽",
            "stars"   : 4,
            "reviews" : 65
          })

    +e.page_bg-gray
      +label-icon()

      +b.ui-kit-page4
        +e.container
          +header("login", "register", { "link" : [
              {
              "href"  : "mock-address",
              "text"  : "Home",
              "mod"   : "_bold _mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "About Us",
              "mod"   : "_mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "Services",
              "icon"  : "!",
              "mod"   : "_bo"
            },
              {
              "href"  : "mock-address",
              "text"  : "Careers",
              "mod"   : "_mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "News",
              "mod"   : "_mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "Documentation",
              "mod"   : "_mr10"
            }]}
          )

        +e.container
          +header("login", "register", { "link" : [
              {
              "href"  : "mock-address",
              "text"  : "Home",
              "mod"   : "_bold _mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "About Us",
              "mod"   : "_mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "Services",
              "icon"  : "!",
              "mod"   : "_bo"
            },
              {
              "href"  : "mock-address",
              "text"  : "Careers",
              "mod"   : "_mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "News",
              "mod"   : "_mr10"
            },
              {
              "href"  : "mock-address",
              "text"  : "Documentation",
              "mod"   : "_mr10"
            }]}, "Cosmin Negoita"
          )


        +e.container
          +footer({
              "text"     : "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",

              "subTitle": "Subscribe to our newsletter",

              "subText" : "Receive our latest news and promotions in your inbox!",

              "subPlace": "Your email address",

              "bottomText" : "Copyright © 2018 Toxin UI Kit. All rights reserved.",

            "menus": [[
              {
                "title": "Navigation"
              },{
                "text": "About Us",
                "href": "mock-address"
              },{
                "text": "News",
                "href": "mock-address"
              },{
                "text": "Support",
                "href": "mock-address"
              },{
                "text": "Products",
                "href": "mock-address"
              }
            ], [
              {
                "title": "ABOUT US"
              },{
                "text": "Who we are",
                "href": "mock-address"
              },{
                "text": "Our team",
                "href": "mock-address"
              },{
                "text": "Careers",
                "href": "mock-address"
              },{
                "text": "Investors",
                "href": "mock-address"
              }
            ], [
              {
                "title": "Support"
              },{
                "text": "Documentation",
                "href": "mock-address"
              },{
                "text": "Community",
                "href": "mock-address"
              },{
                "text": "Get in Touch",
                "href": "mock-address"
              }
            ]]
          })

        +e.container
          +footerM("Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.")