mixin header-menu(links)
  +b.header-menu.js-header-menu
    +e.BUTTON.burger-menu.js-header-menu__burger-menu
      +e.I.burger-menu-open-icon.material-icons menu
      +e.I.burger-menu-close-icon.material-icons close

    +e.UL.items.js-header-menu__items
      each itemConfig in links
        - const { href, text, isMod, title, dropdown } = itemConfig;
        - const classMod = isMod ? '_bold' : '';

        +e.LI.item
          if (text)
            +e.A.link(href=href, class=classMod)= text

          else
            +e.dropdown-menu
              +e.dropdown-menu-button.js-header-menu__dropdown-menu-button= title
                +e.I.dropdown-menu-icon-up.material-icons keyboard_arrow_up
                +e.I.dropdown-menu-icon-down.material-icons keyboard_arrow_down

              +e.UL.dropdown-menu-links.js-header-menu__dropdown-menu-links
                each item in dropdown
                  - const { href, text, isMod, title, dropdown } = item;

                  +e.LI.dropdown-menu-item
                    +e.A.dropdown-menu-link(href=href)= text
