mixin header-menu(links)
  +b.header-menu.js-header-menu
    +e.BUTTON.burger-menu.js-header-menu__burger-menu
      +e.I.open-icon.material-icons menu
      +e.I.close-icon.material-icons close

    +e.UL.items.js-header-menu__items
      each itemConfig in links
        - const { href, text, isMod, title, dropdown } = itemConfig;
        - const classMod = isMod ? '_bold' : '';

        +e.LI.item
          if (text)
            +e.A.link(href=href, class=classMod)= text

          else
            +e.dropdown-menu.js-header-menu__dropdown-menu
              +e.menu-button.js-header-menu__menu-button= title
                +e.I.down-icon.material-icons keyboard_arrow_down

              +e.UL.menu-links.js-header-menu__menu-links
                each item in dropdown
                  - const { href, text, isMod, title, dropdown } = item;

                  +e.LI.menu-item
                    +e.A.menu-link(href=href)= text
