mixin header-menu(links)
  +b.UL.header-menu
    each itemConfig in links
      - const { href, text, isMod, title, dropdown } = itemConfig;
      - const classMod = isMod ? '_bold' : '';

      +e.LI.item
        if (text)
          +e.A.link(href=href, class=classMod)= text

        else
          +e.dropdown-container
            +e.dropdown-title.js-header-menu__dropdown-title= title
              +e.I.icon-up.js-header-menu__dropdown-icon-up.material-icons keyboard_arrow_up
              +e.I.icon-down.js-header-menu__dropdown-icon-down.material-icons keyboard_arrow_down

            +e.UL.dropdown-links.js-header-menu__dropdown-links
              each item in dropdown
                - const { href, text, isMod, title, dropdown } = item;

                +e.LI.dropdown-item
                  +e.A.dropdown-link(href=href)= text
