@require '../dropdown/dropdown'

.menu-for-count
  width   100%

  &__title
    margin-bottom  5px

  &__text-field
    position    relative
    width       100%


.dropdown-menu-count
  width         100%
  position      absolute
  top           43px
  z-index       3
  visibility    hidden
  opacity       0
  transition    0.3s

  background    default-color

  border        1px solid fade-out(0.5)
  box-shadow    0px 10px 20px fade-out(0.05)
  border-bottom-left-radius   4px
  border-bottom-right-radius  4px

  &.current
    visibility      visible
    opacity         1

  &__wrapper
    padding         6px 6px 0 14px

  &__item
    padding-bottom  7px

  &__control-buttons
    padding-top  9px
    padding-bottom  7px
    container()

  .item-count
    container(,flex-start)
    color           primary-color
    cursor          pointer

    &__title
      line-height 28px

    &__container-button
      container(,flex-start)

    &__plus-btn,
    &__minus-btn
      width           30px
      height          30px
      line-height     22px
      font-size       18px
      color           fade-out(0.5)
      border          1px solid fade-out(0.5)
      border-radius   50px

      &.btn-deactive
        color         fade-out(0.3)
        border        1px solid fade-out(0.2)

    &__result
      width           32px
      line-height     28px
      text-align      center
      font-weight     bold
      font-size       12px


// dropdown активен
.count-active
  &.text-field
    border-color    fade-out(0.5)
    border-bottom-left-radius   0px
    border-bottom-right-radius  0px
