include ../dropdown/dropdown

mixin menu-for-count(config)
  +b.menu-for-count
    +e.title
      +b.H3.title= config.title

    +e.text-field(class= config.class)
      +dropdown({
        "type" : "text",
      })(readonly="true")
