@require '../range-slider/range-slider'
@require '../checkbox-item/checkbox-item'
@require '../rich-checkbox-item/rich-checkbox-item'
@require '../checkbox-list/checkbox-list'
@require '../datepicker/datepicker'
@require '../menu-count/menu-count'
@require '../datepicker/datepicker'
@require '../checkboxes/checkboxes'
@require '../rich-checkboxes/rich-checkboxes'

.filter
  width 266px
  display flex
  flex-direction column

  .datepicker-container
    &__dropdown-wrapper
      margin-top 5px

    .text-field
      text-transform  lowercase

    .dropdown__icon
      padding-top 3px

  &__menu-count-guest
    margin-top 20px

  &__range-slider
    margin-top 30px

  &__checkboxes
    margin-top 28px

  &__rich-checkboxes
    margin-top 31px

  &__menu-count-amenities
    margin-top 28px

    .text-field
      padding-right 90px

  &__checkbox-list
    margin-top 24px
