include ../range-slider/range-slider
include ../checkbox-item/checkbox-item
include ../rich-checkbox-item/rich-checkbox-item
include ../checkbox-list/checkbox-list
include ../menu-count/menu-count
include ../date-fields/date-fields
include ../checkboxes/checkboxes
include ../rich-checkboxes/rich-checkboxes

mixin filter
  - const datepickerConfig = require('../../modules/filter/config/datepicker.json');
  - const checkboxesConfig = require('../../modules/filter/config/checkboxes.json');
  - const richCheckboxesConfig = require('../../modules/filter/config/rich-checkboxes.json');
  - const checkboxList = require('../../modules/filter/config/checkbox-list.json');

  +b.FORM.filter
    +e.datepicker-container
      +date-fields(datepickerConfig).js-datepicker-filter

    +e.menu-count-guest
      +menu-count({ title: 'гости' }).js-menu-count-guests

    +e.range-slider
      +range-slider('диапазон цены', 'Стоимость за сутки пребывания в номере')

    +e.checkboxes
      +checkboxes('правила дома', checkboxesConfig)

    +e.rich-checkboxes
      +rich-checkboxes('Доступность', richCheckboxesConfig)

    +e.menu-count-amenities
      +menu-count({ title: 'удобства номера' }).js-menu-count-amenities

    +e.checkbox-list
      +checkbox-list(checkboxList)
