//- modules
include ../range-slider/range-slider
include ../checkbox-item/checkbox-item
include ../rich-checkbox-item/rich-checkbox-item
include ../checkbox-list/checkbox-list
include ../menu-count/menu-count
include ../datepicker/datepicker
include ../checkboxes/checkboxes
include ../rich-checkboxes/rich-checkboxes

mixin filter
  //- config
  - const checkboxesConfig = require("../../modules/filter/config/checkboxes.json");
  - const richCheckboxesConfig = require("../../modules/filter/config/rich-checkboxes.json");
  - const checkboxList = require("../../modules/filter/config/checkbox-list.json");

  //- block
  +b.FORM.filter
    +e.datepicker-container
      +datepicker({ title: 'даты пребывания в отеле', placeholder: 'ДД.ММ - ДД.ММ', value: '19 авг - 23 авг' })

    +e.menu-count-guest
      +menu-count({ title: 'гости' })

    +e.range-slider
      +range-slider('диапазон цены', 'Стоимость за сутки пребывания в номере')

    +e.checkboxes
      +checkboxes('правила дома', checkboxesConfig)

    +e.rich-checkboxes
      +rich-checkboxes('Доступность', richCheckboxesConfig)

    +e.menu-count-amenities
      +menu-count({ title: 'удобства номера' })

    +e.checkbox-list
      +checkbox-list('дополнительные удобства', checkboxList)
