@require './components/item-count'

.menu-count
  width 100%

  &__title-wrapper
    margin-bottom 5px

  &__title
    title-style('small')

  &__wrapper
    position relative
    cursor pointer
    
  &__input-container
    width 100%
    position relative
    z-index 1

  &__text
    text-field()
    cursor pointer
    padding-right 90px

    &::placeholder
      color fade-out(0.75)

    &_active
      border-color fade-out(0.5)
      border-bottom-left-radius 0px
      border-bottom-right-radius 0px

  &__input
    display none

  &__icon
    container(space-around)
    width 44px
    height 44px
    padding-top 2px
    position absolute
    top 0px
    right 0px
    z-index -1
    color fade-out( 0.5)

    &_pad-top-3
      padding-top 3px
        
  &__dropdown
    position absolute
    top 43px
    width 100%
    z-index 3
    visibility hidden
    opacity 0
    transition 0.3s
    background default-color
    box-shadow 0px 10px 20px fade-out(0.05)
    border 1px solid fade-out(0.5)
    border-bottom-left-radius 4px
    border-bottom-right-radius 4px

    &_active
      visibility visible
      opacity 1

  &__items-wrapper
    padding 6px 6px 0 14px

  &__item
    padding-bottom 7px

  &__control-buttons
    padding-top 9px
    padding-bottom 7px
    container()

  &__button-clear,
  &__button-apply
    button()
    color regular-color

  &_button-hidden
    visibility hidden
