include ../dropdown/dropdown

mixin menu-count({title,placeholder, value}={})
  +b.SECTION.menu-count
    if (title)
      +e.title
        +b.H2.title_size-3= title

    +e.text-field&attributes(attributes)
      +dropdown({ type : 'text', placeholder: placeholder, value: value })._placeholder-dark.js-menu-count-input(
        readonly='readonly'
      )
