include ../dropdown/dropdown

mixin menu-count(config)
  +b.SECTION.menu-count
    if (config.title)
      +e.title
        +b.H2.title_size-3= config.title

    +e.text-field(class=config.class)
      +dropdown({ 'type' : 'text', 'place': config.placeholder, 'value': config.value })._placeholder-dark.js-menu-count-input(
        readonly='readonly'
      )
