include ../like-button/like-button


mixin review(data)

  +b.review
    +e.img-container
      +e.IMG(src= data.img).img

    div
      +e.P.name= data.name
      +e.P.date= data.date

    +e.like-button
      if(data.active === true)
        +like-button(data.like).like-button_checked
      else
        +like-button(data.like)

    +e.P.text= data.text
