.button
  height          100%
  width           100%
  line-height     24px
  cursor          pointer
  text-transform  uppercase
  font-size       11px
  letter-spacing  0.8px
  font-weight     normal
  border-radius   22px
  container(space-around)

  &__icon
    position      absolute
    right         -1px
    width         44px
    font-weight   normal
    line-height   44px


  &_default
    letter-spacing  0
    font-size       14px
    color           fade-out(0.5)
    font-weight     normal
    text-transform  none


  &_transparent
    color           regular-color
    border          2px solid regular-color
    &.active
      border-color  fade-out(0.5, regular-color)


  &_regular
    color           default-color
    background      regular-color
    &.active
      background    fade-out(0.5, regular-color)


  &_fade05
    color           fade-out(0.5)

  &_blue
    color           regular-color

  &_relative
    position        relative

