.rate-button
  font-weight normal
  display flex
  font-size 24px;

  &__icon
    color regular-color
    background linear-gradient(primary-gradient)
    -webkit-background-clip text
    -webkit-text-fill-color transparent