mixin rate-button(stars)
  +b.UL.rate-button
    - for (var n = 0; n < stars; n += 1)
      +e.container
        +e.I.icon.material-icons star

    - for (var n = 0; n < (5-stars); n += 1)
      +e.container
        +e.I.icon.material-icons star_border
