include ../date-fields/date-fields
include ../menu-count/menu-count

mixin search-hotel(config=false)
  - if (!config) config = require('../../modules/payment/payment.json');
  - const { datepicker, menuCount } = config;

  +b.FORM.search-hotel
    +e.wrapper 
      +e.title-wrapper
        +e.H1.title= 'Найдём номера под ваши пожелания'

      +e.datepicker
        +date-fields(datepicker[0], datepicker[1]).js-datepicker-search-hotel

      +e.menu-count
        +menu-count(menuCount).js-menu-count-search-hotel

      +e.button-wrapper
        +e.BUTTON.button Подобрать номер
          +e.I.icon.material-icons arrow_forward
