include ../datepicker/datepicker
include ../menu-count/menu-count

mixin search-hotel(config=false)
  - if (!config) config = require('../../modules/payment/payment.json');
  - const { datepicker, menuCount } = config;

  +b.FORM.search-hotel
    +e.wrapper 
      +e.title
        +b.H1.title._size-large= 'Найдём номера под ваши пожелания'

      +e.datepicker
        +datepicker(datepicker[0], datepicker[1]).js-datepicker-search-hotel

      +e.menu-count
        +menu-count(menuCount).js-menu-count-search-hotel

      +e.button
        +b.BUTTON.button_regular-big._relative._pos-text-left Подобрать номер
          +e.I.icon.material-icons arrow_forward
