include ../datepicker/datepicker
include ../menu-for-count/menu-for-count


mixin search-hotel()
  +b.FORM.search-hotel
    +e.wrapper
      +e.title
        +b.H1.title Найдём номера под ваши пожелания

      +e.datepicker
        +datepicker()

      +e.menu-for-count
        +menu-for-count({
          title: 'гости',
          placeholder: 'Сколько гостей',
          class: 'js-menuForCount'
        })

      +e.button
        +b.BUTTON.button._regular._relative Подобрать номер
          +e.I.icon.material-icons arrow_forward
