include ../dropdown/dropdown
include ../date-dropdown/date-dropdown


mixin search-hotel()

  +b.FORM.search-hotel
    +e.wrapper
      +e.title
        +b.H1.title Найдём номера под ваши пожелания

      +date-dropdown({
        "input1": {
            "place": "ДД.ММ.ГГГГ",
            "ident": "item1"
          },

        "input2": {
            "place"  : "ДД.ММ.ГГГГ",
            "ident"  : "item2"
          }
        })

      div
        +e.H3.title-guest гости

        +dropdown({
          "type" : "text",
          "place": "Сколько гостей",
          "icon" : "keyboard_arrow_down"
        })

      +e.button
        +b.BUTTON.button._regular._rel Подобрать номер
          +e.I.icon.material-icons arrow_forward
