include ../dropdown/dropdown
include ../datepicker/datepicker


mixin search-hotel()
  +b.FORM.search-hotel
    +e.wrapper
      +e.title
        +b.H1.title Найдём номера под ваши пожелания

      +datepicker()

      +e.title-menu
        +b.H3.title гости

      +e.menu-for-count
        +b.menu-for-count.js-menuForCount
          +dropdown({
            "type" : "text",
            "place" : 'Сколько гостей'
          })(readonly="true")

      +e.button
        +b.BUTTON.button._regular._relative Подобрать номер
          +e.I.icon.material-icons arrow_forward
