// layout
@require '../../layout/main'

body
  background #414c5c

.nav-box
  height 100%
  width max-content
  padding 300px

  &__container
    border 1px solid black
    padding 40px
    background #fff

.item__link
  color      blue
  font-size    20px
  line-height  28px
