mixin social-link
  //- config
  - const itemsConfig = require("../modules/social-link/social-link.json");

  +b.FIGURE.social-link
    each config in itemsConfig
      - const { href, src, alt } = config;
      +e.A.icon(href=href, target='_blank', rel='noopener noreferrer')
        +e.image(src=src, alt=alt)
