mixin social-link(config=false)
  - if (!config) config = require("../../modules/social-link/social-link.json");

  +b.UL.social-link
    each itemConfig in config
      - const { href, src, alt } = itemConfig;

      +e.LI.container
        +e.A.icon(href=href, target='_blank', rel='noopener noreferrer')
          +e.image(src=src, alt=alt)
