mixin social-link()
  +b.social-link
    +e.A(href="mock-address").icon
      +e.image(src='assets/img/twitter.svg' alt="twitter")

    +e.A(href="mock-address").icon
      +e.image(src='assets/img/facebook.svg' alt="facebook")

    +e.A(href="mock-address").icon
      +e.image(src='assets/img/insta.svg' alt="insta")