mixin social-link()
  +b.social-link
    +e.A(href="#").icon
      img(src='assets/img/twitter.svg' alt="twitter")

    +e.A(href="#").icon
      img(src='assets/img/facebook.svg' alt="facebook")

    +e.A(href="#").icon
      img(src='assets/img/insta.svg' alt="insta")