mixin social-link()
  +b.social-link
    +e.A(href="#").icon
      img(src='assets/img/social-icons/twitter.svg')
    +e.A(href="#").icon
      img(src='assets/img/social-icons/facebook.svg')
    +e.A(href="#").icon
      img(src='assets/img/social-icons/insta.svg')