mixin social-link(items)
  +b.FIGURE.social-link
    +e.A(href='mock-address' target='_blank' rel='noopener noreferrer').icon
      +e.image(src='assets/img/twitter.svg' alt='twitter')

    +e.A(href='mock-address' target='_blank' rel='noopener noreferrer').icon
      +e.image(src='assets/img/facebook.svg' alt='facebook')

    +e.A(href='mock-address' target='_blank' rel='noopener noreferrer').icon
      +e.image(src='assets/img/insta.svg' alt='insta')
