include ../chart/chart

mixin impression(config=false)
  - if (!config) config = require('../../modules/impression/impression.json');
  - const { title, text, list } = config;

  +b.impression
    +e.title
      +b.H2.title._size-medium= title

    +e.container
      +e.chart
        +chart({ id: 'js-chart', text: text, width: '124', height: '124' })

      +e.bullet-list
        +bullet-list(list)._color-items
