@require '../chart/chart'

.room-details-impression
  &__container
    margin-top 19px
    max-width 320px
    display flex

  &__title
    margin-left 2px

  &__chart
    width 124px
    height 124px
    margin-right 28px

  &__bullet-list
    display flex
    align-items flex-end

    .bullet-list__item
      grid-template-columns 5px auto

    .bullet-list__item:first-child .bullet-list__circle
      background linear-gradient(tertiary-gradient)
    .bullet-list__item:nth-child(2) .bullet-list__circle
      background linear-gradient(secondary-gradient)
    .bullet-list__item:nth-child(3) .bullet-list__circle
      background linear-gradient(primary-gradient)
    .bullet-list__item:nth-child(4) .bullet-list__circle
      background linear-gradient(quaternary-gradient)
