@require '../chart/chart'

.impression
  &__container
    margin-top 19px
    max-width 320px
    display flex

  &__title
    margin-left 2px

  &__chart
    width 124px
    height 124px
    margin-right 28px
    
    @media (max-width tableWidth)
      width 100px
      height 100px

  &__bullet-list
    display flex
    align-items flex-end

