include ../logo/logo
include ../header-menu/header-menu

mixin header(config=false)
  - if (!config) config = require('../../modules/header/header.json');
  - const { login, register, user, links } = config;

  +b.HEADER.header
    +e.wrapper
      +e.logo
        +logo

      +e.NAV.navigation
        +e.header-menu
          +header-menu(links)

        if (user)
          +e.user
            +e.button
              +b.BUTTON.button._default(type="button")= user

        else
          +e.auth-wrapper
            +e.A.button-sign-in(href="sign-in.html")
              +e.auth-button
                +b.button._regular-big-transparent= login
              +e.I.icon.material-icons login

            +e.A.button-sign-up(href="sign-up.html")
              +e.auth-button
                +b.button._regular-big= register
              +e.I.icon.material-icons person_add
