include ../logo/logo

mixin header(login, register, data, user)
  +b.HEADER.header
    +e.container.wrapper
      +logo()

      +e.NAV.menu

        +b.INPUT(type="checkbox" id="check-menu")
        +b.LABEL(for="check-menu").header-menu-dropdown
          +e.I.icon.material-icons keyboard_arrow_down
        +b.UL.header-menu
          each item in data.link
            +e.LI.item
              +e.A.link(href=item.href class=item.mod)= item.text
                if (item.icon)
                  +e.I.icon.material-icons keyboard_arrow_down

        if (user)
          +e.user
            +b.user
              +e.btn-container
                +b.A.button._default= user

        else
          +e.auth-btn
            +b.auth-btn
              +e.button-login
                +b.A(href="login.html").button._transparent= login

              +e.button-sign-up
                +b.A(href="sign-up.html").button._regular= register

