include ../logo/logo
include ../header-menu/header-menu

mixin header(config=false)
  - if (!config) config = require('../../modules/header/header.json');
  - const { login, register, user, links } = config;

  +b.HEADER.header
    +e.wrapper
      +e.logo
        +logo

      +e.NAV.navigation
        +e.header-menu
          +header-menu(links)

        if (user)
          +e.user
            +e.user-button-wrapper
              +e.BUTTON.user-button(type="button")= user

        else
          +e.auth-wrapper
            +e.A.sign-in(href="sign-in.html")
              +e.auth-button
                +e.button-sing-in= login
              +e.I.icon.material-icons login

            +e.A.sign-up(href="sign-up.html")
              +e.auth-button
                +e.button-sing-up= register
              +e.I.icon.material-icons person_add
