include ../logo/logo

mixin header(config)
  - const {login, register, user} = config
  +b.HEADER.header
    +e.wrapper
      +e.logo
        +logo()

      +e.NAV.navigation
        +e.header-menu
          +b.UL.header-menu
            each item in config.link
              +e.LI.item
                +e.A.link(href=item.href class=item.mod)= item.text
                  if (item.icon === true)
                    +e.I.icon.material-icons keyboard_arrow_down

        if (user)
          +e.line
          +e.user
            +e.button
              +b.BUTTON(type='button').button._default= user

        else
          +e.auth-btn
            +b.header-auth-button
              +e.button-sign-in
                +b.A(href='sign-in.html').button._transparent= login

              +e.button-sign-up
                +b.A(href='sign-up.html').button._regular= register

