@require "../logo/logo"
@require "../button/button"

.header
  position relative
  z-index: 1
  padding 15px 0
  line-height: 40px
  background default-color
  box-shadow:  0px 10px 20px fade-out(0.05)


  &__container,
  &__menu,
  & .auth-btn,
  & .header-menu
    container()



  & .header-menu__item,
  &__auth-btn,
  & .auth-btn__button-sign-up
    margin-left: 20px

  &__user
    margin-left: 24px


#check-menu
  display none


#check-menu:checked ~ .header-menu
  max-height: 250px
  font-size: 14px

  &__icon
    font-size   24px


.header-menu-dropdown
  cursor pointer
  height 40px
  display none

  &__icon
    vertical-align  middle
    font-size       36px
    color fade-out()


.header-menu
  color: fade-out(0.5)

  &__link
    display flex
    align-items: center
    background: default-color


    &_mr10
      margin-right 8.5px
    &_mr1
      padding-right 1px
    &_bold
      color fade-out()
      font-weight bold

  &__icon
    font-size       24px
    margin-top      4px


.auth-btn
  margin-bottom  1px
  &__button-login
    height    34px
    width     87px

  &__button-sign-up
    height    34px
    width     196px


.user
  line-height   30px
  border-left   1px solid fade-out(0.1)

  &__btn-container
    margin-left   30px


// media


.header-menu
  @media    (max-width: smDesktopWidth)
    display         flex
    flex-direction  column
    justify-content flex-start
    align-items     flex-start
    position        absolute
    top             60px
    right           25px
    z-index         1
    max-height      0
    font-size       0
    overflow        hidden
    transition      0.15s all

  &__item
    @media    (max-width: smDesktopWidth)
      border          1px solid fade-out(0.2)
      border-radius   2px
      margin-bottom   -1px

  :last-child
    margin-bottom: 0

  &__link
    @media    (max-width: smDesktopWidth)
      width           140px
      padding-left    10px

  &__icon
    @media    (max-width: smDesktopWidth)
      margin-left   auto
      margin-right  5px


.header-menu-dropdown
  @media    (max-width: smDesktopWidth)
    display   block


.auth-btn__button-sign-up
  @media    (max-width: smDesktopWidth)
    display   none

