include ../logo/logo

mixin header(config)
  - const { login, register, user } = config;
  +b.HEADER.header
    +e.wrapper
      +e.logo
        +logo

      +e.NAV.navigation
        +e.header-menu
          +b.UL.header-menu
            each itemConfig in config.link
              - const { href, mod, text, icon } = itemConfig;
              +e.LI.item
                +e.A.link(href=href, class=mod)= text
                  if (icon === true)
                    +e.I.icon.material-icons keyboard_arrow_down

        if (user)
          +e.line
          +e.user
            +e.button
              +b.BUTTON.button._default(type='button')= user

        else
          +e.auth-btn
            +b.header-auth-button
              +e.button-sign-in
                +b.A.button._transparent(href='sign-in.html')= login

              +e.button-sign-up
                +b.A.button._regular(href='sign-up.html')= register
