include ../text-field/text-field


mixin login-card()

  +b.FORM.login-card
    +e.wrapper
      +e.container-title
        +b.H1.title Войти

      +e.container
        +text-field(
          /*  type  */  "email",
          /*  place */  "Email"
          )(autocomplete="username")

      +e.container
        +text-field(
          /*  type  */  "password",
          /*  place */  "Пароль"
          )(autocomplete="current-password")

      +e.login-button
        +b.BUTTON.button._regular._rel войти
          +e.I.icon.material-icons arrow_forward

      +e.container-create
        +e.text Нет аккаунта на Toxin?
        +e.button-create
          +b.A.button._transparent(href="sign-up.html") создать