include ../logo/logo
include ../social-link/social-link
include ../subscription/subscription

mixin footer(config=false)
  - if (!config) config = require("../../modules/footer/footer.json");
  - const { text, subTitle, subText, subPlace, bottomText, menus } = config;

  +b.FOOTER.footer
    +e.top-area
      +e.represent
        +b.footer-represent
          +e.logo
            +logo
          +e.SPAN.text= text

      +e.menu
        +b.footer-menu
          each menu in menus
            +e.SECTION.container
              each itemConfig in menu
                - const { text, title, href } = itemConfig;

                if (title)
                  +e.title
                    +b.H2.title_size-3= title
                else
                  +e.LI.link
                    +b.A.link(href=href)= text

          +e.SECTION.container._big
            +e.title-sub
              +b.H2.title_size-3= subTitle
            +e.SPAN.text= subText

            +e.subscription
              +subscription({ 'type' : 'email', 'place' : subPlace, })

    +e.bottom-area
      +b.footer-bottom-area
        +e.SMALL.text= bottomText
        +e.social-link
          +social-link
