include ../logo/logo
include ../social-link/social-link
include ../subscription/subscription


mixin footer(data)
  +b.FOOTER.footer
    +e.top-area
      +b.top-area.wrapper
        +b.represent
          +e.logo
            +logo()
          +e.P.text= data.text

        +b.NAV.footer-menu
          each menu in data.menus
            +e.SECTION.container
              each item in menu
                if(item.title)
                  +e.title
                    +b.H3.title= item.title
                else
                  +e.LI.link
                    +b.A.link(href=item.href)= item.text

          +e.SECTION.container._w260
            +e.H3.title-sub= data.subTitle
            +e.P.text= data.subText

            +e.subscription
              +subscription({
                "type"  : "email",
                "place" : data.subPlace,
              })

    +e.bottom-area
      +e.container
        +b.bottom-area.wrapper
          +e.SMALL.text= data.bottomText
          +e.social-link
            +social-link()

