include ../logo/logo
include ../social-link/social-link
include ../subscription/subscription

mixin footer(config=false)
  - if (!config) config = require('../../modules/footer/footer.json');
  - const { text, subTitle, subText, subPlace, bottomText, menus } = config;

  +b.FOOTER.footer&attributes(attributes)
    +e.top-area
      +e.represent-wrapper
        +e.represent-container
          +e.represent-logo
            +logo
          +e.SPAN.represent-text= text

      +e.menu-wrapper
        +e.UL.menu-container
          each menu in menus
            - const { title, links } = menu;

            +e.LI.list-container
              +e.list-title
                +b.H2.title_size-3= title

              +e.UL.list
                each itemConfig in links
                  - const { text, href } = itemConfig;
                    +e.LI.link
                      +b.A.link(href=href)= text

          +e.SECTION.list-container._big
            +e.title-sub
              +b.H2.title_size-3= subTitle
            +e.SPAN.sub-text= subText

            +e.subscription
              +subscription({ placeholder: subPlace })

    +e.line
    +e.bottom-area-wrapper
      +e.bottom-area-container
        +e.SMALL.bottom-text= bottomText
        +e.social-link
          +social-link
