include ../logo/logo
include ../social-link/social-link
include ../subscription/subscription


mixin footer(config)
  - const {text, subTitle, subText, subPlace, bottomText} = config
  +b.FOOTER.footer
    +e.top-area
      +b.top-area
        +b.represent
          +e.logo
            +logo()
          +e.P.text= text

        +b.NAV.footer-menu
          each menu in config.menus
            +e.SECTION.container
              each item in menu
                if(item.title)
                  +e.title
                    +b.H3.title= item.title
                else
                  +e.LI.link
                    +b.A.link(href=item.href)= item.text

          +e.SECTION.container._w260
            +e.H3.title-sub= subTitle
            +e.P.text= subText

            +e.subscription
              +subscription({
                "type"  : "email",
                "place" : subPlace,
              })

    +e.bottom-area
      +b.bottom-area
        +e.SMALL.text= bottomText
        +e.social-link
          +social-link()

