include ../datepicker/datepicker
include ../menu-count/menu-count
include ../hotel-price/hotel-price
include ../price-list/price-list

mixin payment
  +b.FORM.payment
    +e.wrapper
      +e.hotel-item-price
        +hotel-price({ number: 888, price: '9 990₽', isLux: true, isH1: true })

      +e.datepicker
        +datepicker({ title: 'прибытие', placeholder: 'ДД.ММ.ГГГГ' }, { title: 'выезд', placeholder: 'ДД.ММ.ГГГГ'})

      +e.menu-count
        +menu-count({ title: 'гости', placeholder: 'Сколько гостей', value: '3 гостя'})

      +e.price-list
        +price-list

      +e.total
        +b.payment-total
          +e.title
            +b.H2.title_size-2 Итого
          +e.line
          +e.STRONG.number 38 081₽

      +e.button
        +b.BUTTON.button._regular-big._relative забронировать
          +e.I.icon.material-icons arrow_forward
