include ../dropdown/dropdown
include ../datepicker/datepicker
include ../hotel-item-price/hotel-item-price


mixin payment()

  +b.FORM.payment
    +e.wrapper
      +e.hotel-item-price
        +hotel-item-price({
          number: 888,
          lux: true,
          price: '9 990'
        })

      +datepicker()

      +e.title
        +b.H3.title гости

      +b.menu-for-count.js-menuForCount
        +dropdown({
          "type" : "text",
          "place" : 'Сколько гостей'
        })(readonly="true")

      +e.price-list
        +b.UL.price-list
          +b.LI.item
            +e.P.text._without-info 9 990₽ х 4 суток
            +e.P.sum 39 960₽

          +b.LI.item
            +e.P.text Сбор за услуги: скидка 2 179₽
            +e.P.info i
            +e.P.sum 0₽

          +b.LI.item
            +e.P.text Сбор за дополнительные услуги
            +e.info i
            +e.P.sum 300₽

          +b.LI.total
            +e.P.text Итого
            +e.line
            +e.STRONG.number 38 081₽

      +e.button
        +b.BUTTON.button._regular._rel забронировать
          +e.I.icon.material-icons arrow_forward
