include ../date-fields/date-fields
include ../menu-count/menu-count
include ../hotel-price/hotel-price
include ../price-list/price-list

mixin payment(config=false)
  - if (!config) config = require('../../modules/payment/payment.json');
  - const { hotelPrice, datepicker, menuCount } = config;

  +b.FORM.payment
    +e.wrapper
      +e.hotel-item-price
        +hotel-price(hotelPrice)

      +e.datepicker
        +date-fields(datepicker[0], datepicker[1]).js-datepicker-payment

      +e.menu-count
        +menu-count(menuCount).js-menu-count-payment

      +e.price-list
        +price-list

      +e.total-wrapper 
        +e.total-container
          +e.title-wrapper
            +e.H2.title Итого
          +e.total-line
          +e.STRONG.total-number 38 081₽

      +e.button-wrapper
        +e.BUTTON.button забронировать
          +e.I.icon.material-icons arrow_forward
