@require '../datepicker/datepicker'
@require '../menu-count/menu-count'
@require '../hotel-price/hotel-price'
@require '../price-list/price-list'


.payment
  border 1px solid rgba(0, 0, 0, 0.12)
  box-shadow 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius 4px
  background default-color

  &__wrapper
    padding 40px 0 29px

  &__hotel-item-price,
  &__datepicker,
  &__menu-count,
  &__price-list,
  &__button
    padding-left 29px
    padding-right 29px

  &__hotel-item-price
    container()
    color fade-out(0.5)

  &__datepicker
    margin-top 20px

  &__menu-count
    margin-top 20px

  &__price-list
    margin-top 21px
    margin-left 1px

  &__total-wrapper 
    padding-left 30px
    padding-right 20px
    margin-top 15px

  &__total-container
    display flex
    font-size 19px
    font-weight bold
    color primary-color
    padding-right 8px

  &__total-line
    height 18px
    flex-grow 1
    margin 0 3px
    border-bottom 1px dotted fade-out(0.25)

  &__total-number
    font-size 19px

  &__button-wrapper
    margin 20px 30px 0
    height 44px

  @media (max-width phoneWidth)
    width 100%
    border none

    &__wrapper
      padding 20px 20px 30px 0
