include ../datepicker/datepicker
include ../menu-for-count/menu-for-count
include ../hotel-item-price/hotel-item-price


mixin payment()

  +b.FORM.payment
    +e.wrapper
      +e.hotel-item-price
        +hotel-item-price({
          number: 888,
          lux: true,
          price: '9 990₽'
        })._big

      +e.datepicker
        +datepicker()

      +e.menu-for-count
        +menu-for-count({
          title: 'гости',
          placeholder: 'Сколько гостей',
          value: '3 гостя',
          class: 'js-menu-for-count'
        })

      +e.price-list
        +b.price-list
          +e.UL.items
            +b.LI.item
              +e.P.text._without-info 9 990₽ х 4 суток
              +e.P.sum 39 960₽

            +b.LI.item
              +e.P.text Сбор за услуги: скидка 2 179₽
              +e.P.info i
              +e.P.sum 0₽

            +b.LI.item
              +e.P.text Сбор за дополнительные услуги
              +e.info i
              +e.P.sum 300₽

      +e.total
        +b.total
          +e.title
            +b.H2.title_size-2 Итого
          +e.line
          +e.STRONG.number 38 081₽

      +e.button
        +b.BUTTON.button._regular._relative забронировать
          +e.I.icon.material-icons arrow_forward
