.payment
  height: 511px
  width: 380px
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  background default-color

  &__wrapper
    padding 43px 29px 20px 29px

  &__room-price
    padding-bottom: 19px
    container()
    color fade-out(0.5)

  &__title
    padding-bottom: 5px

  &__icon
    color primary-color
    font-size: 14px
    padding-right: 5px

  &__number
    color primary-color
    font-weight: bold
    font-size: 22px
    padding-right: 4px

  &__room-class
    display inline
    color regular-color
    font-weight: bold
    font-size: 12px
    text-transform: uppercase

  &__price
    display inline-block
    margin-top: 2px
    font-size: 14px
    font-weight: bold
    padding-right: 4px
    padding-top 2px

  &__text-price
    font-size: 12px

  &__price-list
    padding: 21px 1px 0

  &__button
    margin-top 20px
    height: 44px
//
.price-list
  display: flex
  flex-direction: column

  &__item
    display: grid
    grid-template-columns: 219px 20px 80px
    padding-bottom: 15px

  &__info
    width 20px
    height 20px
    text-align: center
    color fade-out(0.25)
    border-radius: 25px
    border 1px solid fade-out(0.25)

  &__sum
    text-align: right

  &__total
    padding-top: 15px
    display flex
    font-size: 19px
    font-weight: bold
    color primary-color

  &__line
    height 18px
    flex-grow: 1
    margin: 0 3px
    border-bottom 1px dotted fade-out(0.25)

  &__total-number
    padding-top: 1px
    font-size: 18px
    letter-spacing: -0.6px
