include ../dropdown/dropdown
include ../date-dropdown/date-dropdown


mixin payment()

  +b.FORM.payment
    +e.wrapper
      +e.room-price
        div
          +e.SPAN.icon №
          +e.SPAN.number 888
          +e.STRONG.room-class люкс

        div
          +e.STRONG.price 9 990₽
          +e.SPAN.text-price в сутки

      +date-dropdown({
        "input1": {
            "place": "ДД.ММ.ГГГГ",
            "value": "19.08.2019",
            "ident": "item1"
          },

        "input2": {
            "place"  : "ДД.ММ.ГГГГ",
            "value"  : "23.08.2019",
            "ident"  : "item2"
          }
        })

      +e.H3.title гости

      +dropdown({
        "type" : "text",
        "value": "3 гостя"
      })

      +e.price-list
        +b.price-list
          +e.item
            +e.P.count 9 990₽ х 4 суток
            +e.P.sum 39 960₽

          +e.item
            p Сбор за услуги: <span class="price-list_nowrap">скидка 2 179₽</span>
            +e.info i
            +e.P.sum 0₽

          +e.item
            p Сбор за дополнительные услуги
            +e.info i
            +e.P.sum 300₽

          +e.total
            p Итого
            +e.line
            +e.STRONG.total-number 38 081₽

      +e.button
        +b.BUTTON.button._regular._rel забронировать
          +e.I.icon.material-icons arrow_forward
