.menu-count-item
  container(,flex-start)
  color           primary-color
  cursor          pointer

  &__title
    line-height 28px

  &__container-button
    container(,flex-start)

  &__plus-btn,
  &__minus-btn
    width           30px
    height          30px
    line-height     22px
    font-size       18px
    color           fade-out(0.5)
    border          1px solid fade-out(0.5)
    border-radius   50px

  &__minus-btn
    &_deactive
      color         fade-out(0.3)
      border        1px solid fade-out(0.2)

  &__result
    width           32px
    line-height     28px
    text-align      center
    font-weight     bold
    font-size       12px