@require "../layout/supporting.styl"



.ui-kit
  &__page1
    background default-color
    margin: 50px 0

  &__page2
    background default-color
    margin: 50px 0

  & .logo
    width 60px
    height 60px
    padding: 30px 0 0 30px

    &__icon
      width 48px
      height 48px

    &__title
      display none
//
//
// page1
//
//
.ui-kit-page1
  height 840px
  padding: 85px 10px 0
  display flex

  &__container-colors,
  &__container-titles
    display flex
    flex-direction: column

  &__container-colors
    width 693px

  //

  .color-demo
    display flex
    margin-bottom 20px

    &__text
      padding-top: 9px
      width 160px

    &__title
      line-height: 24px
      font-family: secondFont
      font-size: 19px
      font-weight: bold
      color fade-out(0)
      letter-spacing: -0.4px

    &__hex
      padding-top: 6px
      font-size: 19px
      letter-spacing: -0.5px

    &__demo
      height 70px
      width 70px
      border-radius: 6px
      background: fade-out(0)
      margin-right: 40px

      &_fade075
        background: fade-out()

      &_fade05
        background: fade-out(0.5)

      &_fade025
        background: fade-out(0.25)

      &_fade005
        background: fade-out(0.05)

      &_regular
        background: fade-out(0, regular-color)

      &_second
        background: fade-out(0, secondary-color)

  //

  .title-demo
    width 410px
    display grid
    grid-template-columns: 40px auto
    grid-gap: 50px 30px
    font-weight: normal
    color fade-out(0.25)


    &__container
      width 40px
      text-align: right
      margin-right: 20px

    &__demo-h1
      font-size: 24px
      line-height: 29px

    &__demo-h2
      font-size: 19px
      line-height: 23px

    &__demo-h3
      font-size: 12px
      line-height: 15px

    &__body
      margin-top: -3px
      width 302px
      line-height: 24px
      color fade-out()
//
//
// page 2
//
//
.ui-kit-page2
  height 1793px
  padding: 83px 0 0 1px

  display: grid
  grid-template-columns: auto 320px 320px
  grid-gap: 0 72px

  &__container-date-dropdown
    display grid
    grid-template-columns: 150px 150px
    grid-gap 0 20px

  &__container
    &-pb10
      padding-bottom: 10px
    &-pb16
      padding-bottom: 16px
    &-pb17
      padding-bottom: 17px
    &-pb19
      padding-bottom: 19px
    &-pb20
      padding-bottom: 20px
    &-pb21
      padding-bottom: 21px
    &-pb22
      padding-bottom: 22px
    &-pb31
      padding-bottom: 31px
    &-pb35
      padding-bottom: 35px
    &-pb40
      padding-bottom: 40px
    &-pb41
      padding-bottom: 41px
    &-pb45
      padding-bottom: 45px
    &-pb50
      padding-bottom: 48px
    &-pb100
      padding-bottom: 100px
    &-pb170
      padding-bottom: 170px

  //
  // column1
  //

  &__column1
    width: 320px
    padding-right: auto

  &__column10
    width: 266px
    padding-right: auto
    & .dropdown-menu-count__container-btn
      display none

  &__block-wrapper
    padding: 5px 0 0

  .module-title
    display flex

    &__title
      flex-grow 1

    &__comment
      font-size: 12px
      color fade-out(0.5)
      text-align: right
      text-transform: uppercase
      letter-spacing: -0.1px
      word-spacing: -1px



  .checkbox-list1
    position relative
    &__icon-down
      position: absolute
      top 0
      right 10px
      color fade-out( 0.5)



  .checkbox-list
    &__icon-down
      display none


  //
  // column2
  //

  &__checkbox-item
    margin-bottom: 10px
    padding-right: 80px


  &__container-like-buttons
    display flex
    justify-content space-between
    width 89px


  &__container-rate-button
    display flex
    justify-content space-between
    width 260px








