include ../checkbox-item/checkbox-item

mixin checkbox-list(title, items)
  +b.SECTION.checkbox-list
    +e.button
      +b.checkbox-list-button
        +e.title
          +b.H2.title_size-3= title
        +e.I.icon-up.material-icons keyboard_arrow_up
        +e.I.icon-down.material-icons keyboard_arrow_down

    +e.menu
      +b.UL.checkbox-list-menu
        each itemConfig in items
          - const { name, active } = itemConfig;

          +e.LI.checkbox-item
            +checkbox-item(name)(checked=active)
