@require '../checkbox-item/checkbox-item'

.checkbox-list
  position relative

  &__button
    width 100%
    height 27px
    container()
    cursor pointer

  &__button-title
    title-style('small')
    
  &__button-icon-up
    display none

  &__button-icon-up,
  &__button-icon-down
    padding-top 3px
    margin-right 10px
    font-weight normal
    color fade-out(0.5)

  &__list-container
    margin-top 12px
    margin-right auto

  &__list
    display none
    
  &__list-item
    margin-bottom 10px

  &_active 
    .checkbox-list
      &__button-icon-down
        display none

      &__button-icon-up
        display block
