include ../checkbox-item/checkbox-item

mixin checkbox-list(config=false)
  - if (!config) config = require('../../modules/checkbox-list/checkbox-list.json');
  - const { title, items } = config;

  +b.SECTION.checkbox-list
    +e.button-container
      +e.BUTTON.button.js-checkbox-list__button(type="button")
        +e.title-wrapper
          +e.button-title= title
        +e.I.button-icon-up.material-icons keyboard_arrow_up
        +e.I.button-icon-down.material-icons keyboard_arrow_down

    +e.list-container
      +e.UL.list.js-checkbox-list__list 
        each itemConfig in items
          - const { text, name, isActive } = itemConfig;

          +e.LI.list-item
            +checkbox-item(text, name)(checked=isActive)
