@require '../checkbox-item/checkbox-item'

.checkbox-list
  position        relative

  &__button
    height 27px
    container()
    width           100%
    padding-right   5px

    &__icon-up,
    &__icon-down
      padding-top   3px
      margin-right  10px

      font-weight   normal
      color         fade-out(0.5)

  &__menu
    margin-right    auto
    display         none

    &.active
      display block

  .menu
    margin-top       12px
    &__checkbox-item
      margin-bottom   10px






