@require '../rate-button/rate-button'
@require '../hotel-price/hotel-price'
@require '../images-slider/images-slider'

.hotel-item
  width 270px
  background default-color
  display flex
  flex-direction column
  font-weight bold
  color fade-out(0.5)
  box-shadow 0px 10px 20px fade-out(0.05)

  &__hotel-price
    margin 20px 16px 10px 20.5px

  &__room-rating
    padding-top 8px
    margin 0 19px 15.5px 21px
    border-top 1px solid fade-out(0.1)

  &__room-rating-container
    width 100%
    container()

  &__reviews-wrapper
    padding-bottom 2px

  &__text
    font-weight normal
    padding-left 4px