include ../rate-button/rate-button

mixin hotel-item(data)

  +b.hotel-item
    +b.gallery-slader
      if (data.slader)
        +e.control-deactive
          +b.slader-prev
            a(href="#")
              +e.I.icon.material-icons expand_more
          +b.slader-next
            a(href="#")
              +e.I.icon.material-icons expand_more

      +e.IMG(src=data.src).img.curry

      +b.control
        +e.A(href="#").circle.circle-curry
        +e.A(href="#").circle.
        +e.A(href="#").circle.
        +e.A(href="#").circle.

    +b.room-price.hotel-item-room-price
      div
        +e.SPAN.icon №
        +e.SPAN.number= data.number
        if (data.lux)
          +e.STRONG.room-class(class=data.lux) люкс
      div
        +e.STRONG.price= data.price
        +e.SPAN.text-price в сутки

    +e.line

    +b.review.hotel-item-review
      +rate-button(data.stars)

      +e.text
        span= data.rating
        +e.SPAN.text-rating Отзывов