include ../rate-button/rate-button
include ../hotel-price/hotel-price
include ../images-slider/images-slider

//- +hotel-item({
//-   'srcArr'  : [
//-     'assets/img/hotel-item1.jpg',
//-     'assets/img/hotel-item2.jpg',
//-     'assets/img/hotel-item3.jpg',
//-     'assets/img/hotel-item4.jpg',
//-   ],
//-   'number'  : 888,
//-   'price'   : '9 990₽',
//-   'stars'   : 5,
//-   'reviews' : 145,
//-   'lux'     : true
//- })

mixin hotel-item(config)

  +b.hotel-item
    +e.images-slider
      +images-slider(config.srcArr)

    +e.price
      +hotel-price({
        number: config.number,
        lux: config.lux,
        price: config.price
      })

    +e.line

    +e.review
      +b.hotel-item-review
        +e.rate-button
          +rate-button(config.stars)

        +e.comments
          +e.SPAN.number-comments= config.reviews
          +e.SPAN.text Отзывов
