include ../rate-button/rate-button
include ../hotel-item-price/hotel-item-price

mixin hotel-item(config)

  +b.hotel-item
    +e.images-slider
      +b.images-slider.js-images-slider
        +e.switch-arrows
          +b.switch-arrows
            +e.BUTTON.prev
              +e.I.icon.material-icons expand_more
            +e.BUTTON.next
              +e.I.icon.material-icons expand_more

        +e.container-images
          +b.container-images
            each path in config.srcArr
              - if(path == config.srcArr[0])
                +e.IMG(src=path alt="фото номера").image.image-current
              - else
                +e.IMG(src=path alt="фото номера").image

        +e.control
          +b.control
            - for(i = 0; i < config.srcArr.length; i++)
              - if(i == 0)
                +e.BUTTON.button.circle-current
              - else
                +e.BUTTON.button

    +e.price
      +hotel-item-price({
        number: config.number,
        lux: config.lux,
        price: config.price
      })

    +e.line

    +e.review
      +b.hotel-item-review
        +e.rate-button
          +rate-button(config.stars)

        +e.comments
          +e.SPAN.number-comments= config.reviews
          +e.SPAN.text Отзывов
