include ../rate-button/rate-button
include ../hotel-price/hotel-price
include ../images-slider/images-slider

mixin hotel-item(config)
  - const { srcArr, number, isLux, price, stars, reviews } = config;

  +b.SECTION.hotel-item
    +e.images-slider
      +images-slider(srcArr)

    +e.price
      +hotel-price({ number, isLux, price })

    +e.line

    +e.review
      +b.hotel-item-review
        +e.rate-button
          +rate-button(stars)

        +e.comments
          +e.SPAN.number-comments= reviews
          +e.SPAN.text Отзывов
