mixin item-info(config=false)
  - if (!config) config = require('../../modules/item-info/item-info.json');
  - const { icon, title, text } = config;

  +b.item-info&attributes(attributes)
    +e.I.icon.material-icons= icon
    +e.container
      +e.title
        +b.H3.title._normal= title
      +e.SPAN.text= text
