.item-info
  width: 280px
  height 89px
  display flex
  align-items: center
  border-bottom: 1px solid fade-out(0.1)
  &_bord-none
    border none
  &__icon
    margin-right: 10px
    width 48px
    font-size: 48px
    color: regular-color
  &__title,
  &__text
    line-height: 24px
  &__title
    font-weight: bold