@require '../assets/stylus/utils/reset.styl'
@require '../assets/stylus/utils/fonts.styl'
@require '../assets/stylus/utils/vars.styl'
@require '../assets/stylus/utils/mixins.styl'

@require '../modules/header/header'
@require '../modules/footer/footer'


.page
  min-width 320px
  width 100%
  min-height 100vh
  height 1px

body
  font-family mainFont
  font-size 14px
  color fade-out()
  background default-color

.title
  font-weight bold
  color fade-out(0)
  &_size-1
    font-size 24px
    line-height 29px

  &_size-2
    font-size 19px
    line-height 24px

  &_size-3
    text-transform uppercase
    font-size 12px

  &_normal
    color fade-out(0.75)
