// assets
@require '../assets/stylus/utils/reset.styl'
@require '../assets/stylus/utils/fonts.styl'
@require '../assets/stylus/utils/vars.styl'
@require '../assets/stylus/utils/mixins.styl'

@require '../modules/header/header'
@require '../modules/footer/footer'
@require '../modules/footer-minimal/footer-minimal'


// Page sizes
.page
  min-width  320px
  width  100%
  min-height  100vh
  height 1px
  margin  0 auto
  // display flex
  // flex-direction column
  // &__content
  //   flex-grow 1

// Page wrapper
.wrapper
  margin  0 auto
  max-width  1160px

  @media (max-width desktopWidth)
    padding-left    20px
    padding-right   20px


// Common styles
body
  font-family  mainFont
  font-size  14px
  color fade-out()
  background default-color

.title
  font-weight  bold
  color fade-out(0)
  &_size-1
    font-size  24px
    line-height  29px

  &_size-2
    font-size  19px
    line-height  24px

  &_size-3
    text-transform  uppercase
    font-size  12px

  &_fade-075
    color fade-out(0.75)

.footer-minimal
  display none

// media
@media    (max-width  tableWidth)
  .footer
    display none
  .footer-minimal
    display flex
