// assets
@require "../assets/stylus/utils/reset.styl"
@require "../assets/stylus/utils/fonts.styl"
@require "../assets/stylus/utils/vars.styl"
@require "../assets/stylus/utils/mixins.styl"

@require "../modules/header/header"
@require "../modules/footer/footer"



// Page sizes
.page
  min-width  320px
  width  100%
  min-height  100vh
  margin  0 auto


// Page wrapper
.wrapper
  margin  0 auto
  max-width  1160px

  @media (max-width desktopWidth)
    padding-left    20px
    padding-right   20px


// Common styles
body
  font-family  mainFont
  font-size  14px
  color fade-out()
  background default-color

h1, h2, h3
  font-weight  bold
  color fade-out(0)

h1
  font-family  secondFont
  font-size  24px
  line-height  30px

h2
  font-family  secondFont
  font-size  19px
  line-height  24px

h3
  font-family  mainFont
  text-transform  uppercase
  font-size  12px


