include ../assets/pug/bemto/bemto

// modules
include ../modules/head/head





doctype html
head
  block head
    +head({
      "title": "Toxin"
    })

body.page

  block header


  block content


  block footer




