// assets
@require './main.styl'

// modules
@require '../modules/logo/logo'
@require '../modules/text-field/text-field'
@require '../modules/dropdown/dropdown'
@require '../modules/subscription/subscription'
@require '../modules/checkbox-list/checkbox-list'
@require '../modules/item-info/item-info'
@require '../modules/checkbox-item/checkbox-item'
@require '../modules/radio-button/radio-button'
@require '../modules/toggle/toggle'
@require '../modules/like-button/like-button'
@require '../modules/rate-button/rate-button'
@require '../modules/button/button'
@require '../modules/range-slider/range-slider'
@require '../modules/pagination/pagination'
@require '../modules/rich-checkbox-item/rich-checkbox-item'
@require '../modules/bullet-list/bullet-list'
@require '../modules/user-comment/user-comment'
@require '../modules/social-link/social-link'
@require '../modules/menu-count/menu-count'
@require '../modules/sign-in-menu/sign-in-menu'
@require '../modules/search-hotel/search-hotel'
@require '../modules/sign-up-menu/sign-up-menu'
@require '../modules/payment/payment'
@require '../modules/calendar/calendar'
@require '../modules/hotel-item/hotel-item'
@require '../modules/rich-checkboxes/rich-checkboxes'
@require '../modules/checkboxes/checkboxes'


//  Common styles
.page-supporting
  min-width  320px
  width  1440px
  min-height  100vh
  margin  0 auto
  background #E5E5E5
