include ../assets/pug/bemto/bemto

// modules
include ../modules/head/head
include ../modules/logo/logo
include ../modules/text-field/text-field
include ../modules/dropdown/dropdown
include ../modules/subscription/subscription
include ../modules/dropdown-menu/dropdown-menu
include ../modules/checkbox-list/checkbox-list
include ../modules/item-info/item-info
include ../modules/checkbox-item/checkbox-item
include ../modules/radio-buttons/radio-buttons
include ../modules/toggle/toggle
include ../modules/like-button/like-button
include ../modules/rate-button/rate-button
include ../modules/range-slider/range-slider






doctype html
head
  block head

body.page
  block content











