// assets
@require "../assets/stylus/utils/reset.styl"
@require "../assets/stylus/utils/fonts.styl"
@require "../assets/stylus/utils/vars.styl"
@require "../assets/stylus/utils/mixins.styl"




//  Common styles
html
  background #e1e1e1

// Page sizes
.page
  min-width: 320px
  width: 1440px
  min-height: 100vh
  margin: 0 auto

//  Page wrapper
.wrapper
  margin: 0 auto
  max-width: 1160px

//
body
  font-family: mainFont
  font-size: 14px
  color fade-out()




