include ../assets/pug/bemto/bemto

// modules
include ../modules/head/head
include ../modules/logo/logo
include ../modules/text-field/text-field
include ../modules/dropdown/dropdown
include ../modules/subscription/subscription
include ../modules/checkbox-list/checkbox-list
include ../modules/item-info/item-info
include ../modules/checkbox-item/checkbox-item
include ../modules/radio-button/radio-button
include ../modules/toggle/toggle
include ../modules/like-button/like-button
include ../modules/rate-button/rate-button
include ../modules/range-slider/range-slider
include ../modules/pagination/pagination
include ../modules/rich-checkbox-item/rich-checkbox-item
include ../modules/bullet-list/bullet-list
include ../modules/user-comment/user-comment
include ../modules/social-link/social-link
include ../modules/sign-in-menu/sign-in-menu
include ../modules/search-hotel/search-hotel
include ../modules/sign-up-menu/sign-up-menu
include ../modules/payment/payment
include ../modules/calendar/calendar
include ../modules/hotel-item/hotel-item
include ../modules/header/header
include ../modules/footer/footer
include ../modules/footer-minimal/footer-minimal
include ../modules/rich-checkboxes/rich-checkboxes
include ../modules/checkboxes/checkboxes






doctype html
head
  block head

body.page-supporting
  block content











