include ../assets/pug/bemto/bemto

// modules
include ../modules/head/head
include ../modules/logo/logo
include ../modules/text-field/text-field





doctype html
head
  block head

body.page
  block content











