// assets
@require "../assets/stylus/utils/reset.styl"
@require "../assets/stylus/utils/fonts.styl"
@require "../assets/stylus/utils/vars.styl"
@require "../assets/stylus/utils/mixins.styl"

// modules
@require "../modules/logo/logo"
@require "../modules/text-field/text-field"
@require "../modules/dropdown/dropdown"
@require "../modules/subscription/subscription"
@require "../modules/dropdown-menu/dropdown-menu"
@require "../modules/checkbox-list/checkbox-list"
@require "../modules/item-info/item-info"
@require "../modules/checkbox-item/checkbox-item"
@require "../modules/radio-buttons/radio-buttons"
@require "../modules/toggle/toggle"
@require "../modules/like-button/like-button"
@require "../modules/rate-button/rate-button"
@require "../modules/button/button"
@require "../modules/range-slider/range-slider"
@require "../modules/pagination/pagination"
@require "../modules/rich-checkbox-item/rich-checkbox-item"
@require "../modules/bullet-list/bullet-list"
@require "../modules/reviews/reviews"
@require "../modules/login-card/login-card"
@require "../modules/search-hotel/search-hotel"
@require "../modules/date-dropdown/date-dropdown"
@require "../modules/sign-up/sign-up"
@require "../modules/payment/payment"
@require "../modules/card-date-piker/card-date-piker"
@require "../modules/hotel-item/hotel-item"


//  Common styles
html
  background #e1e1e1

// Page sizes
.page
  min-width: 320px
  width: 1440px
  min-height: 100vh
  margin: 0 auto

//  Page wrapper
.wrapper
  margin: 0 auto
  max-width: 1160px

//
body
  font-family: mainFont
  font-size: 14px
  color fade-out()

h1, h2, h3
  font-weight: bold
  color fade-out(0)

h1
  font-family: secondFont
  font-size: 24px
  line-height: 30px
  letter-spacing -0.017em

h2
  font-family: secondFont
  font-size: 19px
  line-height: 24px
  letter-spacing: -0.4px

h3
  font-family: mainFont
  text-transform: uppercase
  font-size: 12px




